[2015-02-05 19:15] rdarioduarte opened #4 "Convention about src folder"
Would be nice to have a convention documented about the structure on the src folder.

As per our discussion with @janvanderhaegen on the gitter, he suggested:

"You should be able to just create those folders and throw them in, the built-in convention understands the 'views' and 'viewmodels' convention
but you'll have to update the routes in your app start to point to the correct viewmodel folder"

[2015-02-05 19:32] EisenbergEffect commented on #4
Check the docs repo. I just added it on `docs.md`. It's not pushed to the official site yet. That will happen later today or tomorrow. But you can read it in the repo. It's at the end under a new section titled "Customization".

[2015-02-05 19:32] #4 closed

[2015-02-08 20:30] zewa666 opened #7 "Generate automatically ID-Attrs for headings"
It would be pretty nice if the markdown compiler used for the webpage could automatically create ID-Attributes for the headings. The reason is when you send links to people you don't have to say "go to docs and section XYZ" but could directly send a link with the proper anchor.

[2015-02-09 03:50] EisenbergEffect commented on #7
Yeah. That would be nice. Unfortunately, I don't think the site generator I'm using supports it. I need to try to find out more.

[2015-02-09 03:50] EisenbergEffect commented on #7
Ultimately, this will be replaced with a Aurelia docs app...

[2015-02-09 09:04] zewa666 commented on #7
For now a workaround may be to include normal <hx> tags with an ID.

[2015-02-11 06:05] joelcoxokc opened #14 "Create Curated List for possible ui-plugins"
Create a curated list of plugins we can begin developing on.

Current contains the following
COMPONENTS:
Buttons
Actions
Tabs
Collections
Collapsible
Select
Typehead
Dropdown
Modal
Dialog
Progress
Card
DataGrid
Table
Shadows
Grid
Color
Draggable

LAYOUT:
ui-main
ui-body
ui-section
ui-nav
ui-aside
ui-header
ui-footer
ui-view
ui-grid
ui-custom

Plugins:
uiLayoutService
uiToggle
uiAnimate
uiWaves
uiT

[2015-02-23 16:09] zewa666 commented on #7
Seems to be solved with the new design so I'm closing this issue

[2015-02-23 16:09] #7 closed

[2015-02-23 17:30] IainMNorman opened #25 "Can't scroll down left hand nav"
On the bus on my 13" MBP. Can't scroll down the list of links to navigate the docs page.

[2015-02-24 05:48] EisenbergEffect commented on #25
Should be better now.

[2015-02-24 05:48] #25 closed

[2015-02-25 16:13] PWKad opened #26 "Documentation Outline - strategy"
As a kickstarter to the conversation here are some things we are hoping to hear back on.  Feel free to number your responses and keep them as short as needed but as long as necessary -
1. What is your favorite or easiest to use documentation?  (ex. Bootstrap 3.2 docs)
2. What topic(s) should we prioritize next in documentation?
3. What is one must have feature of the documentation?

[2015-02-26 14:40] PWKad commented on #26
As a kickstarter to the conversation here are some things we are hoping to hear back on.  Feel free to number your responses and keep them as short as needed but as long as necessary -
1. What is your favorite or easiest to use documentation?  (ex. Bootstrap 3.2 docs)
2. What topic(s) should we prioritize next in documentation?
3. What is one must have feature of the documentation?

[2015-02-26 14:48] devmondo commented on #26
!!First!!
i really like ravendb docs style http://ravendb.net/docs/article-page/3.0/csharp/welcome
good parts
- you can choose a version and docs will reflect that
-the left navigation has collapsible sub topics

[2015-02-26 14:54] TheCodeDestroyer commented on #26
@devmondo +1
Also, it would be awesome to have a live example of the code with a test, like on [AngularJS Docs](https://docs.angularjs.org/api/ng/directive/ngRepeat)

[2015-02-26 15:27] davidpeden3 commented on #26
1. Stripe's [docs](https://stripe.com/docs) and [api reference](https://stripe.com/docs/api) are both fantastic

[2015-02-26 18:41] fopsdev commented on #26
@TheCodeDestroyer
+1 for editable test backed docs like [AngularJS Docs ](https://docs.angularjs.org/api/ng/directive/ngRepeat)

[2015-02-27 02:46] PWKad opened #28 "Create an ES6 style guide"
Create a style guide as a guideline for contribution as well as a guide for the community to follow when writing their ES6 code.

[2015-02-27 17:04] jdanyow commented on #26
For the API piece, I like **[this](http://www.breezejs.com/sites/all/apidocs/classes/EntityManager.html)**:
![breeze api](http://i.imgur.com/bjs0dod.png)

The links take you to the method/property/event details which include info about the arguments etc and a link to the actual line in the source code where it's defined.

[2015-02-27 18:22] EisenbergEffect commented on #26
@jdanyow What do you think of this: http://durandaljs.com/documentation/api.html
That was basically a durandal app built on top of the yuidoc json data.

[2015-02-27 18:29] PWKad commented on #26
For the API reference I think it should be very easy to find and navigate through so the one issue I had in the beginning with the Durandal docs was that I wasn't sure exactly where to go to find what I was looking for.  Searchable should be a big part of that left hand nav if possible.  The breeze docs are very similar but a little easier to navigate.

Looking at what @davidpeden3 mentioned in th

[2015-02-27 21:01] jdanyow commented on #26
@PWKad agree
@EisenbergEffect I like the durandal API docs too- they have the click through to source feature which is nice.

The modular, versioned documentation approach is going to be really maintainable but we may need to add some logic in the docs app to tie everything together.  Maybe an API search that works across all the modules?

Not sure how large the JSON gets for the api docs certainl

[2015-02-28 07:27] devmondo commented on #26
also, if i may suggest, instead of this in current docs
"Note: Looking for this guide in another language? Have a look in our documentation repo."

why don't we have a drop down menu or list for languages ?

[2015-03-04 22:56] zewa666 commented on #14
Not sure if this is included with Progress, but today I saw this (http://lightningtgc.github.io/material-refresh) on DailyJS. Maybe it would be cool to add something like this as well.

[2015-03-05 16:05] adriatic commented on #26
I got used to Pluralsight concept of narrated courses which use their proprietary player (which would be quite cool Aurelia app by the way). This may be perceived as a "task too big" for a small company, but before making that conclusion, it may be worth thinking about a bit as I am sure that this could be done by some good hearted people who love Aurelia. My point (coming from several very painfu

[2015-03-05 16:08] adriatic commented on #26
In terms of documentation priorities: in my view is that `Custom Elements` might just be the most appealing single Aurelia feature (not to degrade any others). I have a number of very important such elements in my to do queue for the app I am planning to create with Aurelia

[2015-03-06 00:45] audeamus22 commented on #26
My main frustration with the Durandal docs , and hopefully not the case with Aurelia, is the huge blocks of text with a poor ratio of code to explanation. I read through a lot of the text / explanations, and had to navigate many links inside the api docs on a separate window. From my experience, the explanations  are much better than the api docs. I ended up having to also read through the google

[2015-03-06 14:30] PWKad commented on #26
@audeamus22 Excellent feedback, thanks for the insight.  We definitely want to make code samples a first class priority.  I am hoping to propose a draft with a wireframe in here today so we can begin the heavy lifting of getting everything to work together.  Thanks again!

[2015-03-06 14:30] PWKad commented on #26
@adriatic Great feedback as well, I love the flexibility in composition in Aurelia the most and hopefully we can make the documentation easy to read on that topic so it is recognized by everyone else as well.

[2015-03-06 14:41] adriatic commented on #26
@PWKad @EisenbergEffect As Rob will undoubtedly confirm I am a really big fan of Aurelia and as a developer of very complex applications I will be more than happy to help with any documentation related tasks (use case scenarios, sample design, etc)

[2015-03-06 20:20] audeamus22 commented on #26
@PWKad  great, real great. I would say most teams would be looking forward to read as much as possible this weekend on any sort of gathered documentation, fancy or not, because come weekdays the rubber meets the road. :)

[2015-03-10 02:26] jus101 opened #33 "Router: When using pushState, a base tag may be necessary"
I have a pushState router with two routes set up like so:
[code]
When I navigate to the second route, aurelia tries to load the view from /organisations/dist/modules/organisations/organisation.html (which 404s).

When I remove the pushState option - it works as expected (loads view from /dist/modules/organisations/organisation.html)

@EisenbergEffect suggested adding a base tag:
[code]

This fixes

[2015-03-22 20:32] PWKad commented on #28
Also need to incorporate something like https://www.npmjs.com/package/gulp-jscs into the build process to enforce code styling.

[2015-03-23 13:57] #33 closed

[2015-03-23 19:46] coderbynoon commented on #26
I posted this on the Aurelia gitter forum, and was asked by jdanyow to re-post it here.

My $.02 as a JS Framework newbie. 10+ years .NET dev. JS developer for 1 year using Durandal. I knew some JS (very limited) before Durandal, but Durandal "just worked" and very easy to setup. Really the only thing I spent some extra time on was learning about require.js/r.js for build/bundle options. As I've b

[2015-03-25 08:23] TheCodeDestroyer commented on #26
Also, it would be nice if the docs are written in markdown and most importantly a button for "Improve the docs" should be there so that the community can help you document the framework.

[2015-03-28 16:46] mtimms opened #41 "Navigation skeleton project doesn't quite match the tutorial"
If you just download and run the Navigation Skeleton Project from the Getting Started page there's an upper value converter shown for the fullName binding in the Welcome.html. They should match, but probably nice to introduce it in the tutorial. Instant hit for any WPF/Silverlight devs!

[2015-03-29 20:51] delebash opened #45 "GitHub rate limit reached"
Tried jspm registry config github, Invalid argument registry.
change to registry to endpoint in docs

GitHub rate limit reached. To increase the limit use GitHub authentication.
     Run jspm endpoint config github to set this up.

[2015-03-29 20:55] EisenbergEffect commented on #45
What version of jspm are you running?

[2015-03-29 22:01] delebash commented on #45
I am running jspm version 0.14.0

maybe version 0.15.x fixes this?

[2015-03-29 22:04] delebash commented on #45
Yes I see in the comments that [0.15.0](https://github.com/jspm/jspm-cli/releases/tag/0.15.0) changed to endpoint to registry

[2015-03-29 22:04] #45 closed

[2015-04-01 04:13] PWKad commented on #28
Here's a sample of something we could add to the style guide -

# Modules:

### Modules should follow the following pattern -

[code]

[2015-04-03 10:40] axefrog opened #50 "Attached behavior example references undefined Element class"
The following code snippet is erroneous:

[code]

The inject function references the `Element` class but it is not imported at the top of the snippet, and nowhere else in the documentation indicates where to import `Element` from either.

[2015-04-03 10:56] axefrog commented on #50
I'm an idiot. Sorry.

[2015-04-03 10:56] #50 closed

[2015-04-03 10:58] zewa666 commented on #50
Just to keep a notice in case anybody searches this. Element is a native JS code, that's why you don't have to import it.

[2015-04-04 16:36] PWKad commented on #26
WITHOUT FURTHER ADO...  ( @EisenbergEffect  )

Here is the proposal -

## Summary

Docs for each app will be changed to a version controlled directory format.  The format will be the directory `doc` and then the semver version.  Ex -
[code]

[2015-04-04 18:17] Zoltu commented on #26
I consider MSDN the gold standard for API documentation.  Every public type, method, enum, etc. is documented.  Very important is the fact that items are linked together.  This means if I go look at some method that takes in a type as a parameter, there is a link over to the type's page.

I understand that JavaScript is not a statically typed language, which I consider to be unfortunate, but a goo

[2015-04-10 10:06] simonfox opened #57 "clarify dynamic composition via compose"
Coming from Durandal, dynamic composition allowed a view model instance to be passed directly to the compose binding and the view would be determined dynamically based on the type of view model.

It seems this approach is not supported in Aurelia, instead you bind to a model and specify the type of view model that the compose Custom Element should create to wrap (as it is passed to activate) that

[2015-04-10 13:38] EisenbergEffect commented on #57
So, we intend to have this in Aurelia. The problem lies mostly with the way that the ES6 Module Loader spec is written. With Durandal, we were based on require.js and were able to plug in and do a little magic that enabled these dynamic scenarios. With the ES6 loader....things are locked up a bit tighter. However, there are some additions to the spec which would enable use to make this work in the

[2015-04-10 20:39] simonfox commented on #57
Awesome news, thanks @EisenbergEffect

I'll have a look for the other issue and track that as well...

[2015-04-10 20:47] simonfox commented on #57
For anyone interested, the related issue tracking this is https://github.com/aurelia/templating-resources/issues/17

[2015-04-13 20:06] mtimms opened #59 "Getting Started for Windows users should recommend Git Bash for install"
Attempting to install in Windows 8.1 using the Command Prompt (cmd.exe) or Windows Powershell is a complete exercise in frustration. The jspm install step invariably starts getting timeout errors halfway through, even when you have configured jspm with your GitHub credentials. In contrast I've found the install using Git Bash is fast, smooth and error free.

The Getting Started process should be n

[2015-04-14 14:50] davidpeden3 commented on #59
I just recently did the same and had no issues using PowerShell. Technically, I have GitHub for Windows installed with PowerShell selected as my default shell. I would imagine this is how most Windows users will be set up. It might be good to document ways that people _can_ get set up but I don't see any reason to specifically advise using Git Bash without first trying to understand the root cause

[2015-04-14 20:19] mtimms commented on #59
I had no issues using PowerShell on the previous release, only on the current one -- .both times running on an Azure VM. i suspect it may have coincided with the last jspm update. It's certainly worth pointing out as an option to avoid a frustrating first time experience for people kicking the Aurelia tires.

[2015-04-16 17:13] devmondo opened #61 "Suggestion: mention that attached() is the equivalent for DOMReady"
the question always pops up and a lot of people asking, why my plugin is not working, why jquery stuff is not working, and the usual answer is do it in ```attached ()```.

 so i think it would be helpful to mention in the docs that ```attached ()``` is the equivalent for DOMReady, this way a lot of people wont have to ask this question and for those who are coming form jquery background it will in

[2015-04-19 02:11] jdanyow commented on #61
related to https://github.com/aurelia/skeleton-navigation/issues/72

[2015-04-19 02:34] jdanyow commented on #28
@EisenbergEffect found the [airbnb style guide](https://github.com/airbnb/javascript/tree/es6)

discussion
:point_up: [April 3 2015 3:24 PM](https://gitter.im/aurelia?at=551ee8e11f582983259f339f)
:point_up: [April 6 2015 11:42 AM](https://gitter.im/aurelia?at=5522a94f6e3562b64f5367e9)

[2015-04-19 03:14] EisenbergEffect commented on #28
I'm thinking we should fork that to use it as a starting point and then fix up the stuff we really don't like.

[2015-04-20 09:28] delebash commented on #26
I have been looking into documentation for a users app for both js and css.  For js documentation I like https://github.com/tj/dox, since it just outputs a .json file which can then be bound to a template to our liking as the default else a user can create there own aurelia template.  I alos came across http://apidocjs.com/ which I also like as a template, but you def need search abilities and abi

[2015-04-21 22:49] zewa666 opened #68 "Documentation for navigationStrategy"
need to document the new feature about navigationStrategy

[2015-04-27 20:43] EisenbergEffect commented on #57
@simonfox I'm going to close this issue and we'll just track this through the one referenced above.

[2015-04-27 20:43] #57 closed

[2015-04-28 19:05] EisenbergEffect commented on #14
Closing this for now. We will handle this elsewhere.

[2015-04-28 19:05] #14 closed

[2015-04-28 19:10] EisenbergEffect commented on #26
@scriswell Please review this thread in preparation for our meeting on Thursday. This aggregates a bunch of thoughts from the community on documentation.

[2015-04-28 19:50] scriswell commented on #26
@EisenbergEffect will do.

[2015-04-30 02:56] kohenkatz opened #75 "Bluebird Coroutines link changed"
The BabelJS docs page for Bluebird Coroutines is no longer where the link in the docs points to.  It is now at http://babeljs.io/docs/usage/transformers/other/bluebird-coroutines/

[2015-04-30 03:00] EisenbergEffect commented on #75
Thanks for the heads up!

[2015-05-01 17:36] scriswell opened #76 "Initial Documentation Wireframe"
@EisenbergEffect Have you included the outline we discussed? I'd like to use it as a base for the wireframes.

[2015-05-01 18:05] EisenbergEffect commented on #76
@scriswell I've added the high level notes to the wiki here: https://github.com/aurelia/documentation/wiki/Docs-App-High-Level-Overview

[2015-05-01 18:06] EisenbergEffect commented on #26
Thanks everyone for the feedback. We are beginning design of the new docs now and will be taking this into account.

[2015-05-01 18:06] #26 closed

[2015-05-01 18:08] #75 closed

[2015-05-01 18:09] EisenbergEffect opened #77 "Update Docs for Latest Release"
Update the docs to reflect the breaking changes in the latest release.

[2015-05-01 18:16] scriswell commented on #76
@EisenbergEffect This tasks is for creating the wireframe. I'd like to re-open and assign it back to me.

[2015-05-01 19:10] scriswell commented on #76
@EisenbergEffect much thanks.

[2015-05-04 20:33] #77 closed

[2015-05-06 16:45] EisenbergEffect opened #82 "Build Process Improvements"
I've been thinking that we might be able to improve the build process of Aurelia around a few scenarios that have recently come up. Here's what I am proposing:

* Every repository should contain the following src files
    * imports.js - contains all the ES6 import statements for the library
    * exports.js - contains all the ES6 export statements for the library.
    * classes - one file per ES6

[2015-05-06 16:47] EisenbergEffect commented on #82
I forgot to mention, that breaking things down into these files, might make using source maps with aurelia itself a bit more awkward since the source map will point to the combined index.js file. I don't think it's a big deal, but want to mention it here.

[2015-05-06 16:53] cmichaelgraham commented on #82
would this also alleviate the circular reference issues we were having?

[2015-05-06 17:09] EisenbergEffect commented on #82
@cmichaelgraham There would be no circular refs, yes.

[2015-05-10 02:55] Nness opened #87 "`Get started` tutorial is not very straightforward"
Get started tutorial have way too many opinions.
* Babel
* Gulp
* Node.js
* etc etc

A lot of 'you can do it with something else but we think this is better so go here and learn it'. When you have that many dependency on a simple start up project, how many developer will stop by and get through it?

If you take look at angularjs or even durandal's get start. It just list a simple html with some ja

[2015-05-10 11:55] EisenbergEffect commented on #87
This is an alpha. Things will be improved for release.

[2015-05-10 11:55] #87 closed

[2015-05-15 03:57] bryanrsmith opened #89 "Support loading via script tag(s) with no module loader"
We should figure out how to bundle all the libraries together in a way that can be loaded with one or two script tags. This would make it easy for people to try out Aurelia without having to install any tooling at all. It would also simplify use cases like jsbin, jsfiddle, etc..

[2015-05-15 18:40] devmondo opened #90 "add tags like "new" to doc content"
right now, we cant know what was newly added to the docs because there is nothing that shows that, and we have to reread the whole docs again to find the new content additions, therefore i suggest implementing some kind of tagging system, this will let us instantly dig to the latest content.

some tags i suggest
*  new
* deprecated

i have attached a stupid mockup image, hope this helps
![aurelia-

[2015-05-17 14:45] flieks opened #91 "typo"
[code]
 i think this should be:
[code]

[2015-05-18 18:36] bastienJS opened #92 "Behaviors gets too much attention in the documentation"
Getting more interested in aurelia, I just browsed the documentation: http://aurelia.io/docs.html

Type in the browser search: "behavior" I find 14 results. That seems ok at first sight.

But when I look closer at the results I am totally missing something.

I would have expected a headliner like "BEHAVIORS" - what they are and where you need them bla....

Please improve that :-)

[2015-05-18 18:40] EisenbergEffect commented on #92
We are planning a while new set of docs in the near future :) The term "behaviors" is a generic way of referring to Aurelia's custom elements and custom attributes (including custom template controllers).

[2015-05-18 18:40] #92 closed

[2015-05-18 20:46] zewa666 commented on #92
Sry this was my fault, I had a conversation with @bastienJS and understood he meant Value Converters, which are currently not explicitly mentioned in the docs

[2015-05-20 15:13] davidpeden3 commented on #90
Great idea. Would be super useful if you could specify "since" or "between" (possibly even "prior to") with a dropdown list of releases that would aggregate changes.

[2015-05-21 20:35] devmondo commented on #90
:+1: to @davidpeden3

[2015-06-03 06:36] chovy opened #99 "docs missing view portion of example for filters"
Improved view model implementation:

[code]

You have a 2nd example for the model, but there's no code for what the view should be.

[2015-06-03 06:51] chovy commented on #99
The first example [didn't work](https://www.dropbox.com/s/26h5zky1dm3nco5/infinite-digest-cycle.mov?dl=0) for me. So I tried the 2nd, and it continuously calls the `set searchText()` function as well.

[2015-06-04 22:49] mttmccb commented on #33
This does appear to be solving my problem, there anywhere else the baseURL needs to be defined, I think I've tried every combination...

[2015-06-07 00:41] #91 closed

[2015-06-07 00:44] #82 closed

[2015-06-07 15:33] PWKad commented on #76
I'm not sure if it is part of this but another thing that would be nice to include is a mock of how the tabbed content should look.  Similar to how [Twilio's docs](https://www.twilio.com/docs/api/rest/making-calls#example-1) have tabbable code samples that can show the same thing in multiple languages (in our case it would be ES5/6/7 / TypeScript / CoffeeScript)

[2015-06-07 16:08] EisenbergEffect commented on #76
Yes. Will send out wireframes soon.
On Jun 7, 2015 11:33 AM, "Patrick Walters" <notifications@github.com> wrote:

[2015-06-17 14:35] jadrake75 opened #114 "inclusion of apps to google doc?"
Hi I have been working on my next revision of my stamp-web application which is written in Aurelia.....

the readme needs to be updated to reflect more about the project, and I need to work on tests but I am actively developing it.  It does not really fit with "examples" or "demos" it is more like sample application.... someone may find some nice tricks or examples..... we are using a lot of it as

[2015-06-26 18:54] adrianhall opened #118 "need documentation on lifecycle of custom elements"
I just had a frustrating few hours with custom elements, working out the lifecycle (and specifically, figuring out that the class constructor is the wrong place to be fiddling with the DOM).  Need to document all the lifecycle events of a custom element together with example code on how and when to set them up.

[2015-08-05 03:42] weagle08 opened #130 "aurelia ready for production environment?"
I know this is not really the proper place for this, but I was just wondering if you would consider Aurelia ready for production? We are considering Aurelia and AngularJS 1.4 mainly because we like the 2 way binding capability that they both have for forms, and desire a full stack framework. I've watched your video and have gone through the getting started and really like what I see but am scared

[2015-08-05 03:45] EisenbergEffect commented on #130
We are shooting for beta in 6-8 weeks. We will give that the official "go to production" stamp. However, bear in mind there still may be some changes. The reason for that is that the ES6 loader spec and web standards specs are still in flux and changes in the standards may force us to make changes as well. That's not within our control unfortunately.

We are about to do some new released now. Ther

[2015-08-05 03:45] #130 closed

[2015-08-05 03:58] weagle08 commented on #130
Thanks for the quick reply, nothing you stated there scares me too badly! Hopefully we can help contribute back if given the green light to use Aurelia!

Thanks! thanks! thanks!

[2015-08-12 20:51] jedd-ahyoung opened #133 "Code examples should have snippets for all supported languages"
At the moment, the documentation seems to favor ES7 with decorators, but there are some ES6 examples without decorators as well. It would be beneficial to a) standardize this and b) provide examples in all Javascript dialects, including (but not limited to) the following:

 * ES5
 * ES6
 * ES7 (full decorators)
 * ES7 (without property initializers, for examples that need it)

Supersets of JS can

[2015-08-12 21:07] EisenbergEffect commented on #133
It's a bit early to do this. The new docs app we are working on will support multiple languages for every code sample. Once those are in place, we may need help translating to other languages. But, you will want to do this work on the new docs infrastructure when it is ready.

[2015-08-12 21:10] jedd-ahyoung commented on #133
I may be wrong, but I feel as though it's needed now, in some cases. (I need it, at least, as I'm not using decorators.) I wouldn't think it would hurt too much to add the tab markup to the markdown, and then begin some of the code translation now -  unless those code examples specifically will be thrown away and replaced with new ones. I figured we'd be able to reuse the samples from the current

[2015-08-12 21:12] EisenbergEffect commented on #133
The problem is that the infrastructure doesn't support what you want to do. The current docs are entirely markdown, not pure html.

[2015-08-12 21:34] jedd-ahyoung commented on #133
Markdown supports HTML tags; in fact, the docs currently use HTML heading
tags. Based on that, I believe that the documents could support Bootstrap
tabs. (There would be some overhead in terms of reading and updating the
raw markdown, as there would be a bit more syntax involved.) Again, I could
go ahead and work on this. However, if this is something we simply don't
want to do - perhaps because w

[2015-08-24 19:53] mahtavata opened #136 "Documentation how to use templates and compiler"
Could you add documentation how to use the built in compiler and templates in custom code. Accessing the compiler and compiling templates without the router is a powerful and good tool in applications. It gives a lot of flexibility and control for the programmer.

[2015-08-24 20:10] EisenbergEffect commented on #136
Absolutely! Thank you for adding this issue to remind us!

[2015-08-26 07:41] heruan opened #138 "Clarify app-specific extensions best practice"
In Aurelia Docs it reads:

How to create that `index.js` file?

[2015-09-08 17:07] adriatic opened #143 "npm install -g generator-aurelia issues "deprecated" warning"
[code]

[2015-09-08 17:10] EisenbergEffect commented on #143
I think you meant to report that over here: https://github.com/zewa666/generator-aurelia

[2015-09-08 17:10] #143 closed

[2015-09-08 17:22] adriatic opened #144 "The Get Started document (release 0.18.0) has some inaccuracies"
Section [Setting up the Project Structure and Build](https://github.com/aurelia/documentation/blob/master/English/get-started.md#setting-up-the-project-structure-and-build) states that
[code]
is equivalent to

_Begin by downloading the navigation skeleton. Unzip it and rename the folder to navigation-app._

This is not correct, because ``yo arelia`` command does not only downloads the application

[2015-09-08 17:25] #144 closed

[2015-09-08 17:40] adriatic opened #145 "Running the navigation-app created by "yo aurelia" results with error messages"
command ``gulp watch`` applied to the app described [here](https://github.com/aurelia/documentation/blob/master/English/get-started.md#setting-up-the-project-structure-and-build) results with

[code]

[2015-09-08 17:46] EisenbergEffect commented on #145
Those aren't error message, that's debug output. If it was an error it would say ERROR.
However, it does look like some of the debug information is undefined. That would be a bug in the templating library. I have identified it, fixed it and will push a release shortly.

[2015-09-08 17:46] #145 closed

[2015-09-08 17:55] adriatic commented on #145
Perhaps we have a different interpretation of the word "error" - in my careful approach seeing "[templating] importing resources for undefined []" makes me believe that something is not right - whether it is DEBUG output or ERROR. and because I do not see what all could be a consequence of that, I think that it is better to make you aware of it.

If your explanation "f it was an error it would say

[2015-09-08 18:04] EisenbergEffect commented on #145
At first when I looked at your message, I saw nothing wrong. For many months Aurelia has emitted this debug info. The only thing wrong was the word 'undefined' which should have been the view's id, though that missing parameter wasn't causing any errors. That was hard to see because your error report did not say anything about what you thought was wrong.

In the end, it was just a missing value in

[2015-09-08 18:15] adriatic commented on #145
Nice return volley - as I thought that "importing resources for **undefined []**" - was obvious (I wrote too much code in assembler not to be sensitive to word undefined)

[2015-09-08 18:18] EisenbergEffect commented on #145
Wasn't obvious to me since I've learned to ignore those DEBUG logs after so many months ;) I just saw the word DEBUG rather than ERROR and didn't think to look deeply into the message, since those messages aren't usually associated with errors at all. In this case, the problem was that the debug information itself wasn't correct.

[2015-09-08 18:31] adriatic opened #146 "More explanations needed in section https://github.com/aurelia/documentation/blob/master/English/get-started.md#apphtml"
It does not seem obvious where the **bootstrap classes** get involved on that view. I am nitpicking on this one sentence since it is my long time impression that the "use of bootstrap" is veiled in secrecy (a bit of poetic freedom here).

The point is that nothing written in this document up to [this point](https://github.com/aurelia/documentation/blob/master/English/get-started.md#setting-up-the-

[2015-09-08 20:38] adriatic commented on #143
True - I was behaving too literally (looking into https://github.com/aurelia/documentation/blob/master/English/get-started.md I would (without thinking) stuff everything I find in the context of that article into issues list related to that repository)

[2015-09-08 21:15] adriatic opened #148 "Issues in Adding Navigation section of Get Started document"
This is the [Adding Navigation Section](https://github.com/aurelia/documentation/blob/master/English/get-started.md#adding-navigation) and here are the issues:

- Defining the [app.js](https://github.com/aurelia/documentation/blob/master/English/get-started.md#appjs-1) and [app.html](https://github.com/aurelia/documentation/blob/master/English/get-started.md#apphtml-1) as stated in the document an

[2015-09-08 22:10] adriatic commented on #148
Comparisons between **A** (https://github.com/aurelia/skeleton-navigation/releases/tag/0.18.0) and **B** (https://github.com/aurelia/documentation/blob/master/English/get-started.md)

_(I believe that these two should be at least in sync if not identical, since_
[code]
_make these two applications identical at the beginning._

### Case 1

**app.js** in **A**
[code]

**app.js** in **B**
[code]
Disr

[2015-09-09 16:11] adriatic commented on #148
This issue is a showstopper for my complete analysis and verification of the information provided in https://github.com/aurelia/documentation/blob/master/English/get-started.md

[2015-09-09 16:36] EisenbergEffect commented on #148
Apologies. The getting started guide is actually a few days behind our latest release. Normally, that doesn't happen, but it slipped through. The new release has new features that affect CSS loading in particular. The new guide will be updated today or tomorrow.

That said, the guide, while it may be different, if the src files are deleted and the instructions are followed, should result in a work

[2015-09-09 16:47] adriatic commented on #148
Perfect explanation thank you Rob.

I was really waiting for removal of html imports, expansion of  view pipeline and enhancements the bundling system to continue my **[epic](http://blog.aurelia-guides.com/2015/09/05/aurelia-application-development-for-javascript-newbies/)** - where the very first action would be to replace my own "minimal" Aurelia app with your (really well written) **[equivalent

[2015-09-09 16:49] EisenbergEffect commented on #148
Yes indeed. Again, sorry for the delay there.

[2015-09-09 17:38] adriatic commented on #148
I forgot to make another important point - using bootstrap just as a "model" for it
- there are several alternatives for the "instructions" to bring bootstrap to my application (npm, jspm, ...) from internet
- there are several alternatives for the "instructions" on how to make elements of bootstrap package accessible to my code.

I think that all these should be presented in the same "view" in th

[2015-09-13 01:12] EisenbergEffect commented on #148
I think this has all been addressed now.

[2015-09-13 01:12] #148 closed

[2015-09-13 01:13] EisenbergEffect commented on #146
I believe this has been addressed now.

[2015-09-13 01:13] #146 closed

[2015-09-14 16:02] LordZardeck opened #151 "Ref doesn't document when the element is available."
I was really confused when first trying to use the `ref` attribute. The element is not available during construction, and isn't available until the `attached` method is called. This should be documented to help others like me figure out where we can use it.

[2015-09-22 20:34] JMerrill opened #154 "Many times the word "instrinct" is used ..."
... most often in JSON as the name: value pair `"type": "instrinct"`

Is this a typo/mis-spelling of "intrinsic"? It seems pervasive. I have not seen (but cannot say I've looked exhaustively) anywhere that code is looking for the value "instrinct".

If in fact this should be "intrinsic" I would be willing to try to fix it everywhere.

[2015-09-22 20:36] EisenbergEffect commented on #154
It's a bug in the actual TSDoc library that we are using to generate the json doc file I believe. I think it's literally a typo in their code. I'll follow up with them.

[2015-09-22 20:36] #154 closed

[2015-09-23 08:12] maverix commented on #118
+1  Found a good article that helped me out
http://shellmonger.com/2015/07/24/the-lifecycle-of-an-aurelia-custom-element/

[2015-09-23 09:33] EisenbergEffect commented on #118
For future reference, the docs explain the view lifecycle here: http://aurelia.io/docs.html#extending-html
They explain the navigation (for router-created components only) lifecycle here: http://aurelia.io/docs.html#the-screen-activation-lifecycle

[2015-09-23 09:33] #118 closed

[2015-09-25 01:09] maverix commented on #118
@EisenbergEffect Sorry, you are correct.  I was sure that I had read over the docs and didn't see it there.  But as I am always complaining about my users... people don't read!

[2015-09-28 18:37] jedd-ahyoung opened #155 "Document options passing in ES7 property decorators"
In the Custom Attribute documentation, it's mentioned that you can pass options to `@bindable` in the ES6 class decorators, like so:

[code]

The ES7 property decorators negate the need for the `name` property, but it's not explicitly stated that you can do this, which seems to work:

[code]

It might be worthwhile to add an explicit example of this.

[2015-10-09 02:53] fabioluz opened #159 "src folder should not be deleted"
I'm updating the pt-br version of the Get-Started.md. After translating the file, I'm following the tutorial, step by step, to see if there is any error. I found something that might be a problem.

The Get-Started says the following:

"You may examine the provided index.html file and the rest of the files in src and dist, however we recommend deleting these folders before moving on with this tutor

[2015-10-09 03:29] EisenbergEffect commented on #159
You shouldn't need main.js for the getting startup guide, I don't think, not if you use the html for index.html that is provided in the tutorial.

[2015-10-09 03:29] #159 closed

[2015-10-09 13:37] fabioluz commented on #159
Yeah, you're right. I thought that the html provided in the tutorial was the same as the one provided by the navigation skeleton project. Looking carefully, I see that there is a difference in the aurelia-app attribute. My bad.

Thank you!

[2015-10-12 06:21] EisenbergEffect commented on #28
We've now set up linting across repos.

[2015-10-12 06:21] #28 closed

[2015-10-12 06:28] EisenbergEffect commented on #41
We'll be updating tour getting started guide for the beta soon.

[2015-10-12 06:28] #41 closed

[2015-10-12 06:40] #59 closed

[2015-10-12 06:44] EisenbergEffect commented on #61
Current docs now explain the meaning of the attached callback and it is in line with web components meaning as well.

[2015-10-12 06:44] #61 closed

[2015-10-12 06:45] EisenbergEffect commented on #68
I believe it's there now.

[2015-10-12 06:45] #68 closed

[2015-10-12 06:49] #76 closed

[2015-10-12 06:57] EisenbergEffect commented on #90
New, fully-versioned docs on the way soon.

[2015-10-12 06:57] #90 closed

[2015-10-12 07:07] #99 closed

[2015-10-12 07:11] EisenbergEffect commented on #114
We will have a showcase post beta.

[2015-10-12 07:11] #114 closed

[2015-10-26 15:00] EisenbergEffect commented on #133
We've got the ability to handle this in the new docs app. We are planning ES 2015, ES 2016 and TypeScript.

[2015-10-26 15:00] #133 closed

[2015-10-26 16:41] jedd-ahyoung commented on #133
Nice. I'll be happy to help with this. I will say that I would condone
supporting ES5 as well - yes, ES6/7 are the new hotness, but potential
Aurelians may mix and match featuresets from different specs. (For
instance, devs might use ES6 but opt not to use the `class` keyword - and
as such, people may be using ES5 object syntax instead of ES6 class syntax.
In this case, a lot of examples would be

[2015-10-31 17:59] yd021976 opened #164 "Wrap jQuery plugin not explained"
In the custom element doc, there is no explanation on how we can integrate 3rd party js plugin, particularly jQuery plugins.

Would be great to add a tutorial or chapter on how this could be done with bindings, event handlers etc.

[2015-11-04 20:40] scriswell opened #165 "Need high resolution Aurelia logo"
Ideally a resolution independent SVG file but high res bitmaps at the least for "retina" displays.

[2015-11-19 00:23] jods4 opened #170 "Useless fields initialization in TS examples"
I was not sure where to report this, but I noticed that in the new documentation many TypeScript examples assign fields in their ctor. For example, from "Declaring dependencies" in the cheat sheet:

[code]

The two lines in the ctor are redundant with the TS generated code.

When you put a visibility modifier before a ctor parameter it actually does two things:
- It means you declare a class field

[2015-11-19 06:53] Thanood opened #171 "add scrollbars to document reader articles"
First of all: great work releasing beta1 and the new docs!

I did not find the repository for the new documentation reader released yesterday, so I'm trying it here. Hope it's okay.. :-)

There are some articles that are quite long but don't display a scrollbar - at least on chrome desktop. It'd make it easier to see how much text is still available on the page and that - at least for me - is easi

[2015-11-19 11:53] airboss001 commented on #171
I like the scroll bars for exactly the same reason.

[2015-11-19 12:01] airboss001 opened #172 "Scroll position when navigating between different topics"
Seems the topic page scroll position is remembered, but is its a global position and not the position in  the topic where you were viewing.

For instance if I am reviewing binding and am down toward the bottom of the page, and then navigate to templating I get placed somewhere down in the page that I have no reference (I did not navigate there) and have to scroll back to the top to get context aga

[2015-11-19 14:47] EisenbergEffect commented on #172
We made a quick fix to scroll articles to the top when you navigate.

[2015-11-19 14:47] #172 closed

[2015-11-19 14:48] EisenbergEffect commented on #171
@joelcoxokc Definitely need this fixed. They were working and then they disappeared at some point. FYI It's not possible to scroll the docs at all on Android.

[2015-11-19 18:01] joelcoxokc commented on #171
oh yikes! I'll have it fixed by EOD

On Thu, Nov 19, 2015 at 7:00 AM Rob Eisenberg <notifications@github.com>
wrote:

[2015-11-19 19:53] smolinari opened #173 "The new docs don't work with an iPad"
My browser is Safari.

![image](https://cloud.githubusercontent.com/assets/3314957/11282411/7e8a417c-8eff-11e5-9553-ff38f64f8d9f.jpg)

Scott

[2015-11-19 22:03] joelcoxokc commented on #173
@smolinari Thank you for letting us know. We will get to it ASAP.

[2015-11-19 22:48] joelcoxokc commented on #165
@scriswell Do we already have one?

[2015-11-20 09:24] glen-84 commented on #170
Somewhat related, and possibly subjective: It seems overly-explicit to specify types when the variable is being assigned a value that can be used to infer such information. For example:

[code]

The type hint is unnecessary here IMHO. Same with void return types.

[2015-11-20 12:08] jdanyow opened #174 "Make all headings externally linkable (in narrative style docs and API docs)"
It would be great if we could share links to specific points within the docs (gitter, github issues, stackoverflow, etc).  This was possible in the preliminary docs site but the feature hasn't been carried forward into the new docs application yet.

A good example of how this could work is github's logic for rendering markdown documents.  It renders heading markdown as a heading element with a lin

[2015-11-20 17:26] txels commented on #174
I think this is sorely needed in places like http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/cheat-sheet - it is currently not possible to just share a link to a specific "cheat".

[2015-11-21 22:21] paulroho commented on #173
Same here (Firefox & Chrome on Android).

[2015-11-23 16:17] awright18 opened #175 "Getting Started and Docs on Aurelia.io don't load in IE 11 nor Edge"
![aurelia docs on ie 11](https://cloud.githubusercontent.com/assets/1014386/11342028/d89ff8d2-91ca-11e5-9a19-6411969256ab.PNG)
This is what I get when trying to look at the getting started on IE 11 and Edge. Chrome is fine.
This is the url I'm hitting http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/getting-started
Forgive me if this is the wrong repo. I couldn't find the one with

[2015-11-25 11:36] frankhommers commented on #130
Where will you put that stamp? ;-)

Any news on this?

[2015-11-25 15:13] EisenbergEffect commented on #130
It's ready.

[2015-11-27 05:12] scriswell commented on #165
@joelcoxokc Rob, has access to the latest logo in SVG format.

[2015-12-01 21:46] #170 closed

[2015-12-02 21:54] #171 closed

[2015-12-03 11:38] Petoj87 commented on #175
For me it works in IE 11 but on in Edge there the page just becomes white, but if I hit F12 (opening debug tools) and reload the page it works...

[2015-12-03 18:56] ryanwischkaemper commented on #174
It is also sorely needed to incorporate some sort of sub-menu's for each help topic in the topic menu on the left hand side of the screen. The *Cheat Sheet* topic is the longest by far, but some of the others are long as well. With no way to directly navigate to subtopics within each main topic, we are forced to do an inordinate amount of scrolling. For me personally, it makes me wish the old docs

[2015-12-03 18:57] EisenbergEffect commented on #174
Yes, we've already designed and prototyped a sub-menu UX for the docs along with externally linkable headers. Before we can finish that work we need to do some core work on our docs format. That's in process now.

[2015-12-03 19:02] ryanwischkaemper commented on #174
That's great news. Nice job on everything else related to the docs

[2015-12-06 16:29] timfish opened #176 "New docs have a few mistakes in code examples"
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.2/doc/article/cheat-sheet

I'm guessing the `</table>` closing tags should not be in the following:

Illegal Select Code

[code]

Correct Select Code
[code]

[2015-12-06 16:41] nomack84 commented on #176
@timfish `</table>` closing a `select`? Typo perhaps?

[2015-12-06 16:42] nomack84 commented on #176
@timfish perhaps could you make a PR, that's clearly wrong.

[2015-12-06 16:53] colinshen commented on #130
will the api break change in beta？

[2015-12-06 16:54] timfish commented on #176
Does this repo cover the latest docs? From a quick browse these looked like the old docs...

[2015-12-06 16:55] adriatic commented on #176
Sometimes it is a lot easier to the owner of this document to simply delete the line than to go through the formal process (generate PR) :-)

[2015-12-06 16:57] timfish commented on #176
I would happily do a PR to help as I've been gifted aurelia for free. However, I think this repo is for the old docs. I only added this issue as there isn't yet a way to contribute to the new docs...

[2015-12-06 16:58] timfish commented on #176
Scrap that. I've found the new docs in: https://github.com/aurelia/framework/

[2015-12-06 17:04] timfish commented on #176
Spoke too soon. What I've actually found is the HTML files for the new docs but I suspect they don't edit them manually and they're generated from markdown. I'll leave this open till I find out...

[2015-12-06 18:08] EisenbergEffect commented on #130
Please see this announcement: http://blog.durandal.io/2015/11/16/aurelia-beta-week-day-1-the-beta-is-here/

[2015-12-10 18:34] kaveh82 opened #177 "Incorrect instruction on aurelia.io under section 'Running The E2E Tests'"
Under section **Running The E2E Tests** there's a mention of a build command **gulp webdriver_update** but this didn't work and after looking through the build tasks for e2e I realized the correct command to be **gulp webdriver-update**

[2015-12-10 18:36] EisenbergEffect commented on #177
I'll get it updated in the next docs push. Thanks!

[2015-12-14 20:16] EisenbergEffect commented on #177
Fixed internally. Going out with the next release.

[2015-12-14 20:16] #177 closed

[2015-12-20 11:00] Thanood opened #178 "Doc reader feature request: TOC"
Hi everyone,

can we get a table of contents in the new docs?
That'd be very comfortable with very long articles, especially the Cheat Sheet.

Regards

p.s.: is there an official repo for the reader? Would have been a better place to post this (or look if somebody already has). :-)

[2015-12-20 15:20] EisenbergEffect commented on #178
It's currently in development.

[2015-12-20 15:20] #178 closed

[2015-12-22 05:45] EisenbergEffect commented on #176
Fixed.

[2015-12-22 05:45] #176 closed

[2015-12-22 05:46] EisenbergEffect commented on #175
We are working on this. We have it tracked elsewhere so I'm going to close this for now. It appears to be a race condition of some sort. We're tracking it down.

[2015-12-22 05:46] #175 closed

[2015-12-22 05:47] EisenbergEffect commented on #173
Can someone confirm whether or not this is still an issue?

[2015-12-22 05:48] EisenbergEffect commented on #89
I'm going to close this for now since we have the new beginner kits which don't require any installation.

[2015-12-22 05:48] #89 closed

[2015-12-22 05:56] smolinari commented on #173
I can confirm the docs work now on iOS with Chrome, Safari and Mercury.

However, the script type picklist doesn't work. I'll close this issue and open a new one.

Scott

[2015-12-22 05:56] #173 closed

[2015-12-22 05:57] smolinari opened #179 "Script selection picklist in the docs doesn't work on iOS"
Hi,

Using the docs, they work now with iOS (for iPad). Thanks for fixing that.

However, the top right selection for the script type doesn't work. Tested with Safari, Chrome and Mercury.

Scott

[2015-12-24 21:37] caperaven opened #180 "but in documentation code example."
import {inject, customAttribute, DOM} from 'aurelia-framework';

DOM is not found in aurelia-framework it is found in aurelia-pal

see
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.6/doc/article/cheat-sheet

[2015-12-29 22:12] PWKad opened #181 "Documentation Needs"
# Docs Plan
## A Web Developer

- [ ] What is Aurelia?
- [ ] Getting Started
- [ ] A Production Setup
- [ ] Creating Components
- [ ] Dependency Injection: Basics
- [ ] Templating: Basics
- [ ] Binding: Basics
- [ ] Router: Basics
- [ ] App Configuration and Startup
- [ ] HTTP with Fetch
- [ ] Binding: Value Converters
- [ ] Binding: Binding Behaviors
- [ ] Templating: Custom Attributes
- [ ] Temp

[2015-12-30 16:02] EisenbergEffect commented on #180
This is an issue with the Babel transpiler. It actually is found in aurelia-pal but is also re-exported in aurelia-framework.

[2015-12-30 19:20] #180 closed

[2015-12-30 19:21] EisenbergEffect commented on #179
@joelcoxokc Can you look into this?

[2015-12-30 19:22] EisenbergEffect commented on #165
@joelcoxokc Is this fixed?

[2015-12-30 19:23] EisenbergEffect commented on #164
We are tracking this in our docs plan: https://github.com/aurelia/documentation/issues/181

[2015-12-30 19:23] #164 closed

[2015-12-30 19:24] EisenbergEffect commented on #151
We will add docs on this. Per the beta, refs are available earlier, in the `bind` callback :)

[2015-12-30 19:29] JeroenVinke commented on #181
I would like to see more about custom DOM events, and the differences between `delegate` and `trigger` and why `bubble` must be enabled when raising a CustomEvent.

[2015-12-30 19:31] EisenbergEffect commented on #181
@JeroenVinke Good feedback. I believe that would be great content for "Binding: Basics"

[2015-12-30 19:34] EisenbergEffect commented on #138
I think we have this now: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.7/doc/article/app-configuration-and-startup In the section "Organizing Your App with Features"

[2015-12-30 19:34] #138 closed

[2015-12-30 19:35] EisenbergEffect commented on #181
In the article "Templating: Dynamic UI Composition" we not only need to cover things like `compose` but we need to talk in depth about how to use the compiler directly to do more customized, dynamic UIs.

[2015-12-30 19:35] EisenbergEffect commented on #136
I've added these notes to our docs plan here: https://github.com/aurelia/documentation/issues/181

[2015-12-30 19:35] #136 closed

[2015-12-30 19:36] EisenbergEffect commented on #181
In the article "Binding: Basics" we need to make sure to include information about when `ref` binding values become available. Previously they weren't available until the `attached` lifecycle callback, but as of the Beta they are now available earlier in the `bind` lifecycle callback.

[2015-12-30 19:37] EisenbergEffect commented on #151
I added notes to this issue so we don't forget to cover it in the upcoming article: https://github.com/aurelia/documentation/issues/181

[2015-12-30 19:37] #151 closed

[2015-12-30 19:39] EisenbergEffect commented on #181
In the article "Templating: HTML Behaviors Introduction" we need to cover a bit about the general mechanism that underlies both Custom Element and Custom Attributes. As part of that we need to talk about `bindable`. We should be sure to cover hos that works when used as a field decorator and make sure to include examples of supplying options in that case.

[2015-12-30 19:39] EisenbergEffect commented on #155
Made a note of it here: https://github.com/aurelia/documentation/issues/181

[2015-12-30 19:39] #155 closed

[2015-12-30 19:48] jdanyow commented on #181
binding basics: [delegate vs trigger](http://stackoverflow.com/a/33909191/725866)
cc @JeroenVinke

[2015-12-30 19:49] EisenbergEffect commented on #181
We should include your SO answer direction in "Binding: Basics"

[2015-12-30 19:58] adriatic commented on #181
- Under `Web Developer section`
**Integrating Aurelia Help component with third party** (Aurelia of course) **applications**

- Under `Integrating with Other Technologies` **Identity Management** (see [Auth0-Angular](https://auth0.com/docs/client-platforms/angularjs) as an example)

[2015-12-30 20:03] EisenbergEffect commented on #181
For "Binding: Basics" be sure to demonstrate how contextual properties work, particularly in the case of `call` bindings.

[2015-12-30 20:05] EisenbergEffect commented on #181
@adriatic Are you referring to using our docs technology to document 3rd party Aurelia plugins and us providing docs on how to do that?

[2015-12-30 20:16] adriatic commented on #181
Yes - as we are about to finish the document set for http://aurelia-ui-toolkits.github.io/demo-kendo first preview and would love not to continue rolling our own

[2015-12-30 21:09] stevies commented on #181
It would be useful if the documentation was searchable. And if the section headings were linkable.

[2015-12-30 21:26] EisenbergEffect commented on #181
That's in development. Search will take a bit longer but section linking is coming very soon.

[2015-12-30 21:29] ostyn commented on #181
A lot of questions in gitter are centered around the transfer of data in/out of custom elements and in/out to the parent element. There are several different ways to do this(singleton service injection, passing in callbacks, injecting the parent into the child, getting the parent element and getting the view model off of that, message passing, etc.) and it's not clear when to use which, or even wh

[2015-12-30 21:31] EisenbergEffect commented on #181
@ostyn What if we added a topic on "Cross Component Collaboration" and covered different techniques and practices?

[2015-12-30 21:33] adriatic commented on #181
#### A very strong vote of support for this proposal

[2015-12-30 21:34] stevies commented on #181
@ostyn @EisenbergEffect - that would be great.  This is something I have been wrestling with recently - combining simple custom elements into more specialised composed elements. I can get things working, but really not sure of best practice here - then there are not too many good examples to copy.

[2015-12-30 21:35] ostyn commented on #181
@EisenbergEffect That would be excellent. I'm glad that others agree.

[2015-12-30 21:40] EisenbergEffect commented on #181
I've added it to the topic list above.

[2015-12-30 23:05] egeland commented on #181
Something I think should be in the Web Developer section: "how to start an aurelia app from scratch", i.e. from "I have `npm` installed" to "aurelia starts up and can be used".

Basically, it'd be about "how we built the skeleton app".

I'm sure it's not just me who are interested in exactly how things fit together but find tearing the skeleton down tedious and would rather see how to build it up

[2015-12-30 23:13] adriatic commented on #181
@egeland - you can find this information (and a lot more) in the [Aurelia Guides](http://blog.aurelia-guides.com/2015/08/22/Smallest-Aurelia-Application-created-from-scratch/) - website that hosts all accumulated [Aurelia Community authored articles](https://github.com/aurelia-guides/aurelia-guides.md-articles).

Note that all these articles are pre-beta and would need to be refreshed, assuming th

[2015-12-31 05:50] smolinari commented on #181
Here are a couple more suggestions.

Please get the contributor section done first, so others can join in and follow the rules properly to help build up and get this huge...chore..um....job... :smile:...done. If I knew what the contribution process was, I'd also like to help, where I can.

Sorry, this means more work, but add an API reference section explaining the different services/ options/ int

[2015-12-31 07:20] caperaven commented on #180
I used it as per documentation and it did not work.
Only when I used it with pal did I manage to get it working.
So if the documentation is right there is another issue.

[2015-12-31 09:16] activebiz commented on #181
+1 for search option.

[2015-12-31 14:17] Thanood commented on #181
I'd like to read an article about component styling, also regarding ShadowDOM and style encapsulation (if that's possible).

Also I'm very interested in the contributor section. :smile:

[2015-12-31 14:19] Cortrah commented on #181
Hi Folk,

Thanks for asking for our input. You guys are really doing great work.

In the architecture section, I think the "building on web standards" section is particularly important. Especially with Es6 Modules and Web Components (nice to see that web components repo show up recently). Following Aurelia through gitter and the blog has been like following a test case for the state of modern java

[2015-12-31 14:41] EisenbergEffect commented on #180
Yes, that's what I'm saying. The problem is in Babel. We are trying to track it down and see if we can get them to fix it.

[2015-12-31 14:50] EisenbergEffect commented on #181
I've added some additional topics and created a new section

Using Aurelia Components as Web Components
How to Build the Skeleton from Scratch
Binding Engine Architecture and Extensibility
Templating Engine Architecture and Extensibility
Router Architecture and Extensibility
Structuring and Organizing Your App

[2015-12-31 15:17] Cortrah commented on #181
PS I love the cheat sheet

And it looks like the docs repo is being done with gitbook, if I could download a version every so often to put on my kindle for when I'm walking the dog that would be awesome.

thanks again for all

[2016-01-03 07:17] bischofb commented on #181
I was struggling with how to call call $('.form').validate() when the page loads b/c activate() is called before the view model is built. Ifinally found an obscure comment about an attach() hook being called after activate() and tried that. Works! It would be REALLY NICE to more page lifecycle hooks documented better b/c the only hooks discussed are canActivate() and activate(). It took me forever

[2016-01-03 10:51] smolinari commented on #181
Correction on my part. I failed to find this section of the docs. http://aurelia.io/docs.html#/api/home

So, one less suggestion to worry about. :smile:

Scott

[2016-01-03 11:45] EisenbergEffect commented on #181
We have those docs here: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.7/doc/article/creating-components But perhaps it's worthwhile to create a separate doc that lists all possible events for both components and router and explain what does and does not happen, when, etc. I'll add a topic for this.

[2016-01-03 18:32] bischofb commented on #181
Thanks for the link. I was looking at the cheatsheet under "Screen Activation Lifecycle" which only listed a few hooks. Might be good to reference that it has the same hooks as components or copy/paste them to the Screen Activation Lifecycle section as well.  :-)

[2016-01-05 02:28] Gheoan commented on #181
I suggest renaming `App Configuration and Startup` to `Configuration and Startup`

[2016-01-07 18:20] justinobney commented on #89
I think it would be very be able to try things out in JSBin/JSFiddle, etc....

[2016-01-09 06:35] EisenbergEffect commented on #174
Released. The heading aren't clickable, but there's a slide out panel on the left with the TOC for each article. Clicking on those will update the url so that you can link to section.

[2016-01-09 06:35] #174 closed

[2016-01-09 06:36] EisenbergEffect commented on #165
@joelcoxokc @scriswell Is this fixed?

[2016-01-09 14:40] scriswell commented on #165
The high resolution logo is on the website that much I can confirm. We need
to use the same logo file on the docs for now.

On Sat, Jan 9, 2016, 1:36 AM Rob Eisenberg <notifications@github.com> wrote:

[2016-01-09 23:22] Gheoan opened #182 "older versions of docs have no content"
For example [here](https://github.com/aurelia/skeleton-navigation/issues/226#issuecomment-162091072) I am linking to version `.../1.0.0-beta.1.0.3/...`  of docs and there is no content on the page.

Tested in Firefox and Chrome

[2016-01-10 15:06] giovannicandido commented on #181
I would like to see a article about testing components, attributes, etc.. with and without dom.
Unit test is simplified by the dependency injection, we can mock the objects and test the units methods in isolation, the trick part is to test behaviour that depends on DOM using karma, and almost all custom components and attributes manipulate DOM elements because that is side effect.

[2016-01-10 21:48] dlo83 commented on #181
@giovannicandido +1

[2016-01-11 11:49] tvld commented on #181
Excellent work. Wish it was all here today;)
I just wish there was some Doc about the Server and Database side of it as well. While it may be outside Aurelia scope, we do need to write real Apps and a standard server side approach is essential for both newbies as well as a common testing understanding...

[2016-01-11 22:44] Svenskunganka commented on #181
@tvld There isn't much to the server- & database-side of Aurelia right now (until the planned SSR is available). You can use the `fetch-client` or `http-client` to consume a simple CRUD RESTful API, and there's not much more to it as of now. It's just like how you would write apps with jQuery's `$.ajax` method.

Although it's probably a good point to add some examples for how `fetch-client` could

[2016-01-12 08:35] tvld commented on #181
@Svenskunganka Thank you. I think yes, some *pointers* and examples of DB&Server framework could still be helpful. New people with a blank sheet like to choose the "common denominator" in a new eco-system. We would like an increased chance others might be able to help when stuck and more coherent testing.

That said, it seems on this I am on my own in Aurelia and might need to adopt another child

[2016-01-16 18:05] oswaldomilet opened #183 "Change router config moduleId to src folder"
In "2. Get Started" section, instead of:
[code]
should be:
[code]

[2016-01-16 18:58] EisenbergEffect commented on #183
We think this may be a regression in system.js. We are investigating this week. But, the src folder shouldn't need to be included if everything were working correctly.

[2016-01-16 18:58] #183 closed

[2016-01-16 20:30] oswaldomilet commented on #183
ok, thanks for the quick response.

[2016-01-16 22:20] oswaldomilet opened #184 "Production Setup (ASP.NET 5) missing information"
I was following the "3. A Production Setup" and chose skeleton-typescript-asp.net5, however I'm very confused about gulp tasks available.

In tutorial says to run  "gulp watch", but project didn't open on http://localhost:9000.

Besides that, in which case I run each of the task available?

For example:

- I want to run my ASP.NET backend, which task should I bind to "After Build"?
- in case of de

[2016-01-18 14:38] PWKad commented on #184
The ASP.NET skeletons have their own README.md file which shows how to run the applications.  The general documentation is for the general skeletons which aren't specific to the backend framework.

[2016-01-18 15:35] oswaldomilet commented on #184
Thanks, this saved my day. But now I'm having the following error when "gulp bundle":

[code]

note the "dist/dist", I have changed nothing in the project.

[2016-01-21 01:34] danielabar opened #186 "How to unit test custom element including DOM manipulation"
Followup from gitter discussion with PWKad:

Q: Does anyone know how to unit test a custom element that does dom manipulation? I did this in Angular 1.x with [karma-ng-html2js-preprocessor](https://github.com/karma-runner/karma-ng-html2js-preprocessor) which compiles templates and makes them available for loading into tests, then you can run your directive code in the test, and use jquery to verif

[2016-01-22 14:49] ahmedshuhel commented on #184
@oswaldomilet The bundle task is broken the the main branch right now. This [PR](https://github.com/aurelia/skeleton-navigation/pull/264) should fix it.

[2016-01-23 21:50] oswaldomilet commented on #184
Thanks, it worked

[2016-01-23 21:50] #184 closed

[2016-01-26 09:16] philiphendry commented on #89
I agree. I'd even take it a step further and get Aurelia integrated with JSFiddle/Plunker/JSBin so it's just a click away - AngularJS is already there and I'd like to see Aurelia 'advertised' alongside it!

[2016-01-26 14:22] PWKad commented on #89
We do have an official plunker that's always on latest at http://bit.ly/aurelia-plunker

[2016-01-27 08:12] philiphendry commented on #89
Thanks for getting back @PWKad. I've just tried that plunk but it fails with over a hundred errors downloading resources from cdn.rawgit.com - it looks like some of the resources aren't being delivered with the Access-Control-Allow-Origin header.

[2016-01-31 13:23] vegarringdal opened #187 "node-gyp rebuild errors on fresh installed windows 10."
Hi
Got a few "node-gyp rebuild" errors when doing "npm install" following the "getting stared" guide.
It was on a fresh installed windows 10 virtual pc I made just for Aurelia, was kinda confused why I started getting errors when everything just worked when I followed the "getting started" last time.
Did a few searched on my friend "google" then I tried this:
-started with a fresh windows again to

[2016-02-09 07:25] jwatkin opened #188 "Problem with "Getting Set Up" section in "Getting Started" doc"
On this page:
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.2/doc/article/getting-started,
in the "Getting Set Up" section, the TypeScript Kit download displays a blank page when dragging the index.html file into Firefox under a Windows 7 (and perhaps elsewhere). The index.html file in the ES 2016 Kit correctly displays "Welcome to Aurelia!". An older TypeScript Kit download from D

[2016-02-09 14:50] EisenbergEffect commented on #188
Thank you for reporting this Jim. Something is indeed wrong with the TypeScript beginner kit. I'm not sure how that happened. I confirmed it was working properly last week. I'll investigate and get a fix out.

Regarding using VS code, you will want to open the folder as a web site.

[2016-02-09 20:27] Gheoan commented on #182
@EisenbergEffect is this being worked on? One solution would be to always use `latest` as version for docs.

[2016-02-09 22:16] jwatkin commented on #188
Thank you for your prompt reply. I was unfamiliar with opening web sites in Visual Studio but now I understand. Can I suggest this alternative text for your documentation?

**Visual Studio** - Open Visual Studio 2015. Using the main menu, select File > Open > Web site... In the resulting dialog, choose the starter kit folder then click the Open button. The folder contents will be displayed in the

[2016-02-09 23:29] EisenbergEffect commented on #182
We need to get this fixed. Sorry for the delay.

[2016-02-10 00:13] Gheoan commented on #182
[`1.0.0-beta.1.0.5` works](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.5/doc/article/what-is-aurelia)

[`1.0.0-beta.1.0.4` does not work](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.4/doc/article/what-is-aurelia)

https://github.com/aurelia/framework/compare/1.0.0-beta.1.0.4...1.0.0-beta.1.0.5

[2016-02-10 00:26] EisenbergEffect commented on #182
Right, those should be updated to the latest compatible version. We'll look into this.

[2016-02-10 01:04] EisenbergEffect commented on #188
Ok, we've updated the docs. We didn't realize that the Firefox method won't work with the TS kit, but only the ES2015 kit. The docs reflect that now as well as your recommended clarification for use with VS.

[2016-02-10 01:04] #188 closed

[2016-02-10 18:53] jimnorth55 opened #189 "Setup for Getting Started missing JSPM Install"
I was following the Getting Started docs, using the TypeScript kit and ran into an issue as soon as I did the first mods to app.ts and app.html.   After entering the "Welcome" model and template, I ran the app and got a JS error (" submit() is not a function").  Upon inspection, it was apparent that app.ts was not being loaded.  I suspected a JSPM issue, and of course then realized that JSPM was n

[2016-02-11 03:56] EisenbergEffect commented on #189
No form of installation should be needed for the beginning kit. If you had to run jspm, then there may be a bug. We will investigate.

[2016-02-17 15:06] k2s opened #191 "improve documentation about ref"
I learned today on Gitter about `view-model.ref`.
It is mentioned in cheat sheet and also there is this article http://drdwilcox.blogspot.sk/2015/12/aurelia-leveraging-viewmodel-of.html.

But it is not in https://github.com/aurelia/documentation/blob/master/English/docs.md#ref.

I would like to create pull request, but don't have the feeling I understand it good enough. For example what is `contro

[2016-02-17 15:08] EisenbergEffect commented on #191
The docs in the documentation repo are no longer valid. We should remove them. The cheat sheet online is the official source now.

[2016-02-19 15:20] philiphendry commented on #89
Just a thought to anyone who has more time than me to look into this... I just came across a javascript library call [jbatch](http://iomash.com/) and wondered whether it could be made to bootstrap SystemJS and Aurelia. It's an intriguing system and it's the [bootstrap](http://codepen.io/iomash/pen/xbMwWp) command that got me thinking about Aurelia.

[2016-02-19 15:32] vegarringdal commented on #181
Suggestions, but might be covered in the other topics
**A Plugin Author**
- Adding css

How to do it and not what to do.
The docs plan looks great btw, cant wait for it all

[2016-02-19 20:30] DevNebulae opened #192 "Missing font"
When visiting any link of a part of the documentation I notice the font is the default font. This is easily reproduced by visiting any of the links in the Libraries section of the documentation. Some quick links:

- [BindingBehavior](http://aurelia.io/docs.html#/aurelia/binding/1.0.0-beta.1.1.3/doc/api/class/BindingBehavior)
- [bootstrapper](http://aurelia.io/docs.html#/aurelia/bootstrapper/1.0.0-

[2016-02-20 03:23] rajvirtual opened #193 "How to use third party JQuery plugins with Aurelia"
Hi Guys,
This is the library i am trying to shim.
https://github.com/aehlke/tag-it

This library is dependent on jquery and jquery-ui

I am using this command to shim

jspm install github:aehlke/tag-it -o "{ registry: 'jspm', main: 'js/tag-it', shim: { 'js/tag-it': { deps: ['jquery','jquery-ui'],exports:'$' } }, dependencies: { jquery: 'github:components/jquery','jquery-ui':'github:components/jque

[2016-02-21 05:55] rajvirtual commented on #193
Since its a JQuery UI  $.Widget extension it is suppose to call the _createWidget method inside JQuery UI and that is not happening. I wonder why ? i can see the JQuery-UI module loaded correctly in chrome debugger.

[2016-02-21 21:19] rajvirtual commented on #193
When i changed my Markup to use a class selector, instead of ID, the plugin is working now.

` <input type="text"  class="form-control input-lg txtEdit" />` is working
` <input type="text"  id="txtEdit"  class="form-control input-lg" />`  does not work.

@EisenbergEffect , is there any preference in using one or the other ?

Thanks !

[2016-02-21 22:36] EisenbergEffect commented on #193
If you have only one element that needs the widget, then give it a `ref` and you can pass it directly to your jQuery control.

[code]

[code]

If you have multiple controls, then you can use selectors, but  you should always scope them:

[code]

[2016-02-21 22:36] #193 closed

[2016-02-22 20:10] Thanood commented on #181
I'd love to see a good explanation of nesting templates/elements correctly.
I've just run into this trap: https://github.com/aurelia/framework/issues/250

:smile:

[2016-02-22 20:13] adriatic commented on #181
You are tempting the "adventurer" in me - but I am firmly following my decision to finish the on-line help documents for the pending KendoUI bridge 0.3.0 release

[2016-02-24 05:57] riddla opened #194 "Dash docset for Aurelia"
First of all: you got a great looking documentation over at http://aurelia.io/docs.html.

I started to generate a Dash docset for Aurelia (https://kapeli.com/dash and https://zealdocs.org for Windows) over at https://github.com/riddla/aurelia-docset, because I got used to those kind of documentation browsers over the last years. I know a lot of colleagues in our field also use those API browsers a

[2016-02-24 16:28] dlo83 commented on #194
+1 for Dash docset.  Dash is a great tool.

[2016-02-24 21:20] jwatkin opened #195 "Left-nav disappears after scrolling to page bottom in iOS landscape orientation"
On this page:
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.3/doc/article/what-is-aurelia

1. Rotate the iOS device to landscape orientation.
2. Scroll the right pane to the bottom of the page.
3. Scroll the right pane to the top of the page.
4. The left-nav document list is missing.

Tested on:
* iPhone 5S with iOS 9.2.1 under Safari and Chrome
* iPhone 6 with iOS 9,2 under Safari

[2016-02-24 21:32] EisenbergEffect commented on #195
@joelcoxokc We've got a few issues on the docs app we'll need to address soon. I'm thinking we should devote next week to trying to fix a few things there. Let's try to include this issue in that list. We can discuss in our status meeting tomorrow.

[2016-02-25 03:08] YipYipX4 opened #196 "Can't Print Docs"
I may be old fashioned, but sometimes I do like to print things (especially "cheat sheets").  However, printing Aurelia documentation in Chrome results in a single page that includes sidebars and scrollbars, and is just a mess (try it, you'll see).  Hopefully this can be easily fixed with some print-specific CSS rules.  Thanks!

[2016-02-25 06:56] jwatkin commented on #195
The anomaly seems to happen after any device orientation change. If one opens the page in landscape orientation and then changes to portrait orientation the problem will also occur. If one maintains the orientation used to open the page, landscape or portrait, the page is fine.

[2016-02-26 02:30] Gheoan opened #197 "Docs are not responsive"
The docs are missing the `viewport` `meta` tag making the media queries useless and the page not responsive.

[2016-02-26 06:31] EisenbergEffect commented on #197
@joelcoxokc Before we do the structural update we discussed tonight, let's get this a the other bugs in the current docs fixed so I can do a release. Once I get that release out, let's move ahead to the structural update.

@Gheoan Sorry about this! It's a regression in our mobile platform detection. We'll get it fixed soon.

[2016-02-26 06:33] EisenbergEffect commented on #195
@joelcoxokc Let's do this before we do the structural changes. I'd like to get a release out with this and the couple other bugs fixed, then we can work on the major changes we discussed tonight.

[2016-02-26 06:38] EisenbergEffect commented on #192
@scriswell Can you check this out? It looks fine to me but you are the "font man" :laughing:

[2016-02-26 06:39] #189 closed

[2016-02-26 06:58] EisenbergEffect commented on #182
Ok, we have this fixed in master. It will go out in the next week.

[2016-02-26 06:58] #182 closed

[2016-02-26 07:16] DevNebulae commented on #192
@EisenbergEffect @scriswell I suspect you have the font installed on your computer, but I don't. This is what it looks like to me.

![capture](https://cloud.githubusercontent.com/assets/12952123/13345662/f12f345e-dc60-11e5-8fd3-2bced62b1a3e.PNG)

Adding this CSS rule should resolve the issue:

[code]

[2016-02-26 21:33] oising opened #198 "Consider documenting all internal Aurelia tags and their implementing modules"
For example, <content></content> for content projection in a template is not documented (that I can see.) It would be nice to a have a matrix of internal tags/elements, or at least ensure all are mentioned in the cheat sheet.

[2016-02-26 21:35] EisenbergEffect commented on #198
Yes, we will have it. Incidentally, `content` is not Aurelia-specific. It is part of Shadow DOM v0. We will be updating to Shadow DOM v1 `slot` in the near future. Explanation of this will be in upcoming documentation.

[2016-02-26 21:38] oising commented on #198
Thank you Rob.

[2016-03-02 20:41] Gheoan commented on #197
This seems to be fixed.

[2016-03-02 20:41] #197 closed

[2016-03-02 22:36] jwatkin commented on #195
Your new Docs deployment, with a left-nav slide-out for mobile, has fixed this issue on my iPhone. Thank you.

[2016-03-02 22:42] EisenbergEffect commented on #195
Awesome!

[2016-03-02 22:42] #195 closed

[2016-03-03 00:04] jwatkin opened #199 "Unexpected behavior with the Aurelia Docs mobile left-nav slide-out"
I'm experiencing an unexpected behavior with the Aurelia Docs mobile left-nav slide-out. When tapping on an article within the slide-out, or attempting to change to the other tab within the slide-out, the first tap doesn’t have any perceived effect. One has to tap again to get the desired effect. This happens with Safari, but not Chrome, on:
iPhone 5S, iOS 9.2.1
iPhone 6. iOS 9.2

Also, one would

[2016-03-03 05:09] Gheoan commented on #181
Events emitted by Aurelia should be documented (ex: aurelia-composed).

[2016-03-04 05:13] jwatkin opened #200 "Tailoring the "A Production Setup > Running The App" doc for each skeleton"
I realize it’s still early days and you have more planned, so please just think of this as a friendly To Do list item. In my Windows 7 environment, the instructions for starting up the Aurelia app in the "Running The App" section on this page:
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/a-production-setup
don't seem to work for the "skeleton-typescript-asp.net5" ver

[2016-03-22 17:40] irashid25 opened #201 "Api Documentation"
Hi all,

I've recently started to develop an app using aurelia and am looking to learn and understand the framework from the ground up.

While i know the framework is in beta, does anyone have any idea when the Api(library) documentation will be updated with examples on how to use them.

For example, If you look at the addRoute method on the router class
addRoute
(
config: RouteConfig
navModel: Na

[2016-03-22 17:54] EisenbergEffect commented on #201
Did you look in the cheat sheet?

[2016-03-22 18:16] irashid25 commented on #201
Thanks for the super quick reply rob.

I have just done a ctrl f on the following page and did not find an example of the addroute method.
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet

Another issue i came across that helps me make my point is the following:

Yesterday i was just playing around and made 2 buttons that redirected a user to the signup view

[2016-03-22 18:24] EisenbergEffect commented on #201
Yes, we are planning more docs ;)
FYI, there aren't docs on `addRoute` because it's not something people really use. They use `map`: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet/7

[2016-03-22 18:27] irashid25 commented on #201
Good to know,

I will assume in the mapping its the name property i pass in the redirect or the setroot method, and the router will take care of the rest. I will test out later tonight.

Thanks for your time rob. Really appreciate it.

[2016-03-22 18:35] #201 closed

[2016-03-22 18:37] EisenbergEffect commented on #201
More stuff is on the way. Stay tuned. We know the docs need more content.

[2016-03-27 13:19] ajoslin103 commented on #181
Nowhere are there examples of how to log at the different levels - in the entire docs I could find only two usages of console.log

How do you use the logging capabilities of the framework?

[2016-03-29 10:51] Thanood commented on #181
In my opinion it would be useful to have a guide on how to implement a custom observer, since that seems to be best practice in cases where dirty checking would kick in, at least if ```@computedFrom``` doesn't fit the case.
Just as an example: "how to observe a ImmutableJs collection". Unfortunately I tried and failed to do something like this. :smile:

Or more general: "How to prevent dirty check

[2016-03-29 11:00] EisenbergEffect commented on #181
@Thanood That sounds like a great idea. @jdanyow I was hoping you could write two more binding articles. We have "Binding: Basics" listed above and now I've added "Binding: Advanced Scenarios" which I think would be a good place to discuss that @Thanood is talking about and possible a number of other recurring scenarios.

[2016-03-29 11:05] jdanyow commented on #181
sounds good- will get started on these

[2016-03-31 13:46] Tinadim opened #202 "Trouble loading JQuery plugin"
I'm trying to load a jquery plugin in one of my views:

    import $ from 'jquery';
    import 'select2';
    import 'select2/css/select2.css!';

And then, calling

    bind() {
        $('selector').select2();
    }

However, it keeps complaining that select2 is undefined:
`aurelia-logging-console.js:86 ERROR [app-router] TypeError: $(...).select2 is not a function(…)`

Debugging this point, show

[2016-03-31 16:16] Gheoan commented on #202
This is related to how `select2` is exported and how `systemjs`/`jspm` loads it, not to `aurelia`.

[2016-03-31 16:21] Tinadim commented on #202
@Gheoan It also happened with other jquery plugins but anyway... do you have any clue on how to fix, it?

[2016-03-31 16:54] Gheoan commented on #202
@Tinadim Try this from the command line:
[code]

[2016-03-31 20:52] Tinadim commented on #202
@Gheoan That worked just fine, thanks! I'll take a look into the jspm docs to get to know better the install options.

[2016-03-31 20:52] #202 closed

[2016-04-08 22:51] AStoker opened #203 "Documentation site doesn't load on Safari"
Trying to load the doc site (http://aurelia.io/docs.html) in Safari, and the page does not load up, but rather stays on the splash screen. The page works in Chrome, however.
Looking at the network tab in Safari, all requests are finished, so there isn't some pending request. There are also no issues displayed in the console.

[2016-04-08 23:30] EisenbergEffect commented on #203
I just tried it and it worked fine for me. Can you provide any other information?

[2016-04-08 23:34] brandonseydel commented on #203
Same here i just did verified in browsertack I am working with @AStoker on gitter to solve this issue.

[2016-04-08 23:37] AStoker commented on #203
I'm running the OS X El Capitan Beta, so that might have something to do with it. However, another user in the Aurelia Gitter channel had the same issue. I tried opening the site with both the Safari Technology Preview (which just came out last week and has 98% of ES6 functionality, awesome), but also the release version of Safari. I can manage to run the skeleton project just fine on all the brow

[2016-04-08 23:38] brandonseydel commented on #203
@AStoker Whats the warning?

[2016-04-08 23:40] AStoker commented on #203
Huh, looks like a bluebird error, but was logged as a warning.

![screen shot 2016-04-08 at 7 39 40 pm](https://cloud.githubusercontent.com/assets/2907279/14400099/ab78e964-fdc1-11e5-8699-6aa48ae5b564.png)

[2016-04-08 23:41] AStoker commented on #203
However, this warning only comes up on the Technology Preview, not regular Safari. This is probably do to polyfills breaking things that are already implemented. This is the case for Fetch right now in the Tech Preview.

[2016-04-12 10:47] stalniy commented on #130
@EisenbergEffect do you have burndown or milestone somewhere on github to see when the first RC will be out?

[2016-04-13 14:26] EisenbergEffect commented on #165
Can we close this now?

[2016-04-14 22:44] jsobell opened #204 "Http Client doco location?"
I notice these have been moved to `old`, meaning nobody will bother looking at them, so where do users go for documentation on the HttpClient?
Am I missing something, or might these be best reinstated until the missing sections have been transitioned to the proper document project?

[2016-04-14 23:04] EisenbergEffect commented on #204
Regarding HttpClient, this was an oversight. I'll re-instate that document. Everything else is on the official docs site and the source for the docs are in the repos that they relate to under the doc folder.

[2016-04-15 01:47] jdanyow commented on #165
(removing from the bug list)

[2016-04-15 02:33] EisenbergEffect commented on #165
I'm just going to close this.

[2016-04-15 02:33] #165 closed

[2016-04-18 09:46] JimmiV opened #205 "GetStarted ..."
... doesn't load on Edge.
I click on the button on the home page but the loader spins continuosly

[2016-04-18 12:31] EisenbergEffect commented on #205
We are aware of this issue. It is a bug in SystemJS. We are working on a
solution.
On Apr 18, 2016 5:46 AM, "Emiliano" <notifications@github.com> wrote:

[2016-04-19 13:19] AStoker commented on #205
Is this related to https://github.com/aurelia/documentation/issues/203?

[2016-04-19 14:20] EisenbergEffect commented on #205
I'm not sure. It loads fine in Safari for us...

[2016-04-19 14:20] EisenbergEffect commented on #205
I'm closing this issue since we are tracking it elsewhere. We have a new docs implementation coming soon and we'll seek to address this as part of that.

[2016-04-19 14:20] #205 closed

[2016-04-19 17:54] AStoker commented on #203
Just something to track (and reiterating), this only is breaking inside of the Safari Technology Preview. The STP is implementing the latest version of WebKit which has 99% ES6 functionality (http://kangax.github.io/compat-table/es6/#webkit). This is what is going to be released soon with Safari, so it's worth looking into why it's not working now.

[2016-04-19 18:00] EisenbergEffect commented on #203
@joelcox please take a look
On Apr 19, 2016 1:54 PM, "Andrew Stoker" <notifications@github.com> wrote:

[2016-04-22 20:33] CasiOo opened #206 "Unclear if lifecycle refers to the component- or router lifecycle"
The cheat sheet mentions how to reuse an existing vm in the section: Reusing an existing VM

Readers get confused about what `invokeLifecycle` actually means. Some believe it will invoke the component lifecycle, when we're talking about the screen activation lifecycle.
Maybe add a mention/refer to the section: Screen Activation Lifecycle?

[2016-04-24 18:41] EisenbergEffect commented on #204
About to publish docs that include this information this week.

[2016-04-24 18:41] #204 closed

[2016-04-24 18:42] EisenbergEffect commented on #200
We'll be replacing this process with an Aurelia CLI which will set things up based on your choices. We're also working with Microsoft to integrate this into Visual Studio.

[2016-04-24 18:42] #200 closed

[2016-04-27 22:48] gc435 opened #207 "Documentation site not loading in Edge"
I'm trying to load the Getting Started documentation in Edge, but it gets stuck at the splash screen.  The spinner just spins.

Curiously, the page loads if I have Edge's dev tools open.

The link I'm trying is http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/getting-started.

Edge version 25.10586.0.0
EdgeHTML version 13.10586

[2016-04-27 22:55] EisenbergEffect commented on #207
Sadly, this is a bug in the module loader SystemJS which is out of our control. We are working to provide other setups which don't use this library in the future. For now, try keeping the dev tools open if you wish to use Edge, or use another browser. We understand this isn't acceptable for deploying an app. For actually building production apps, we have a Webpack kit that works better. We're also

[2016-04-27 22:55] #207 closed

[2016-04-27 23:20] gc435 commented on #207
Thanks for the update.  I'm brand new to Aurelia, and still trying to wrap my head around all the required tooling.

It sounds like as you move to RC, Edge will be fully supported by both Aurelia and its recommended tooling.  I know this must be a major hassle when things are out of your control though.

[2016-04-27 23:33] EisenbergEffect commented on #207
Thank you for your kindness and for understanding. We are working hard on a simpler, reliable toolset for the future :)

[2016-04-30 08:38] code-chris commented on #181
Until when the documentation for the Durandal migration is planned? Perhaps in conjunction with Knockout?

[2016-04-30 12:42] EisenbergEffect commented on #181
We have a preliminary document here: https://github.com/aurelia/documentation/blob/master/old/English/durandal-to-aurelia.md
We would love PRs on that document to flesh out the content.

[2016-05-07 14:57] RomkeVdMeulen opened #208 "Advanced templating: store original textContent"
Originally posted at aurelia/templating/issues/340, moved here at the suggestion of @EisenbergEffect.

I'm not sure, but I think this may be a fairly common scenario: wanting to pass data to a custom element through the element content, rather than any attribute. E.g.:

[code]

I've had this scenario come up multiple times in my current project. I've found a solution which may be a nice example of

[2016-05-10 19:05] apawsey opened #209 "Links between classes in documentation app"
It would be extremely helpful if wherever other classes are referenced, the documentation linked to that class.  Currently, you generally have to go back to some route point and find each class yourself.

For example (from Router):
[code]
NavigationInstruction should link to the navigation instruction class definition.

[2016-05-10 19:14] EisenbergEffect commented on #209
Thanks for the suggestion! I know we've talked about that before but it's good to have this issue to track it and remind us to resolve it.

[2016-05-11 22:17] mttmccb opened #210 "Event Aggregator: includeEventsIn"
This sounds interesting but I can't quite picture how it could be used. It sounds like it's a way to inherit (the term used in the docs is mix) event aggregator functionality.

Do anyone have a more concrete example?

[2016-05-11 22:23] mttmccb commented on #210
I can see it's used by the config object to add the event aggregator functionality to the aurelia instance

[2016-05-11 22:25] mttmccb opened #211 "Event Aggregator: config options"
There is a mention of config options, are there any options for EventAggregator?

Looking at the source code it doesn't appear so, could it explicitly mention this in the docs? Maybe the fact the config object used the includeEventIn method would be a good example?

[2016-05-11 22:44] EisenbergEffect commented on #210
It instantiates a new instance of event aggregator and merges its methods into the object you provide so that the obj now has pub/sub capabilities.

[2016-05-11 22:44] #210 closed

[2016-05-17 16:14] EisenbergEffect commented on #211
I'm not quote following the question. Can you explain a bit more for me? Thanks!

[2016-05-17 16:46] mttmccb commented on #211
Might be easier if I put it in a pull request, I'll find the right repo and do it hopefully later tonight

[2016-05-23 14:10] jimmywarting opened #212 "Fix search"
I find it particularly hard to search for something since the docs don't have any search then I'm left to using google. But google don't bring up so good result either. Maybe cuz it's SPA and google having problem crawling them.

I hope you fix google crawling bot and also build a search functionality on the website as well. So that we don't have to skim through the hole api do find how to use X

[2016-05-23 14:13] EisenbergEffect commented on #212
Yes, there several items we are planning related to this:

* A better ToC feature coming in the next release which will make it easier to see the contents of an article at a glance.
* A search feature built into the docs.
* Server-side rendering for Aurelia itself, which we will then utilize in our docs app to enable better SEO.

[2016-06-01 13:19] niieani commented on #181
@EisenbergEffect I'd add one more article on advanced repeater usage, including stuff like using matchers to optimize array view replacement. I can try to write that at some point in the future.

[2016-06-14 10:52] massimocode opened #213 "Very minor - typo"
On here:
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.2.4/doc/article/app-configuration-and-startup

`ineract` should be `interact`

[2016-06-14 11:51] massimocode commented on #213
Also on here:
http://aurelia.io/docs.html#/aurelia/dependency-injection/1.0.0-beta.1.2.3/doc/article/dependency-injection-basics

`paramter's` should be `parameters'`

[2016-06-14 11:52] massimocode commented on #213
I would put in a PR but I can't find the source code for the documentation online

[2016-06-14 12:43] EisenbergEffect commented on #213
You can find the source for the docs in the doc folder of the respective repo, under the articles sub-folder. So, for the first doc, that's in framework and the second one is in dependency-injection.

[2016-06-14 15:06] massimocode commented on #213
Thanks, I've created PRs here:
https://github.com/aurelia/dependency-injection/pull/101
https://github.com/aurelia/framework/pull/441

[2016-06-14 15:06] #213 closed

[2016-06-17 08:19] rquast commented on #212
+1

[2016-06-17 10:25] EisenbergEffect commented on #212
Next week....

[2016-06-17 10:25] #212 closed

[2016-06-17 10:27] EisenbergEffect commented on #199
New UX coming next week.

[2016-06-17 10:27] #199 closed

[2016-06-17 10:27] EisenbergEffect commented on #192
Major update coming next week...

[2016-06-17 10:27] #192 closed

[2016-06-17 10:28] EisenbergEffect commented on #179
Major update coming next week with new ux...

[2016-06-17 10:28] #179 closed

[2016-06-17 18:21] JoshMcCullough commented on #118
@EisenbergEffect Those links appear to be dead -- do you have a link to the current documentation which outlines the lifecycle events for view-models _and_ custom elements?

[2016-06-17 19:29] AStoker commented on #118
The docs page for Aurelia has changed its navigation (it's based off the version now). This link should work. Go to http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.2.4/doc/article/cheat-sheet/7 and search for "The Screen Activation Lifecycle". It is however only for view-models, not custom elements. This page will give you some more details about the lifecycle though: http://aurelia.io

[2016-06-17 19:31] EisenbergEffect commented on #118
Actually, they do have links to the sections :) Expand the "ToC" on the left for an article and click on the section. The url is updated. Most people just don't notice the ToC :) We are making it more integrated for the next release. Also, search is coming.

[2016-06-17 19:43] AStoker commented on #118
Would it be possible to get those sections to work with all headings (including sub headings)? Different topic for a different issue though :) I did not realize (despite me actually doing it) that the ToC links actually saved the location to come back to.
Super excited for search!

[2016-06-21 00:28] maximusmusterus1 opened #214 "Getting started 'Adding Navigation' does not work"
In the Getting Started guide at chapter 'Adding Navigation', the router is configured in app.js via a configureRouter(…) method. The method does not get called and therefore the router is not configured properly. I've also seen the introduction video, where Rob uses dependency injection and set up the router within the constructor. This way, everything works as expected.
So either the guide is out

[2016-06-21 00:30] EisenbergEffect commented on #214
The video is out of date. You should have a `configureRouter` method on your component.

[2016-06-21 00:30] #214 closed

[2016-06-21 00:35] maximusmusterus1 commented on #214
Thanks :)

[2016-06-24 02:39] EisenbergEffect opened #215 "Documentation on aurelia.io cannot be printed"
@erikvullings commented on [Sat Jun 11 2016](https://github.com/aurelia/skeleton-navigation/issues/493)

Not really related to this repo, but couldn't find another way to mention it...

I like to read documentation on my ebook reader. However, I could neither send it properly, nor print it. I've tried several browsers (chrome, ie, edge), but none of them could print the pages (they stop at the fir

[2016-06-24 07:10] dbowser opened #216 "Roadmap"
Where can we see a roadmap / plan for Aurelia?
I am porting our app from Silverlight and really need to be able to know when things like a powerful datagrid component will be available. We did a LOT with datagrid and in place editing with valueconverters and all so need that same level of functionality to do much with Aurelia. I have been general references to something coming but no details. Kind

[2016-06-24 07:44] erikvullings opened #217 "Documentation cannot be read on Windows Phone 10"
The spinning just never stops...

[2016-06-24 11:08] patrickrobbins commented on #217
What browser are you using?

On Jun 24, 2016 3:44 AM, "Erik Vullings" <notifications@github.com> wrote:

[2016-06-24 11:52] tolemac opened #218 "Documentation translation to other languages"
Is there any planning to translate documents into other languages?
And not only that, but I wonder, is it necessary?

Personally I think that translating documents into other languages ​​is something that ultimately is harmful, because it never gets to have timely updates for new versions.

That being so, what would be the best way to bring Aurelia people who do not master the English language?

P

[2016-06-24 12:38] AStoker commented on #217
Could this be related to the issue where the documentation site doesn't load in Edge?

[2016-06-24 12:40] AStoker commented on #203
Closing this story. The documentation site now loads up. Not sure if it's related to the new Aurelia Hub site changes, or the most recent Safari TP release. In either case, we're good to go.

[2016-06-24 12:40] #203 closed

[2016-06-24 13:06] EisenbergEffect commented on #217
It loads on Edge and IE 11. Both were tested.
On Jun 24, 2016 8:38 AM, "Andrew Stoker" <notifications@github.com> wrote:

[2016-06-24 13:16] AStoker commented on #217
Gotcha, yah, works now with the new Beta site up. Did y'all switch to Webpack, or are you still using SystemJS/JSPM on the doc site?

[2016-06-24 13:18] AStoker commented on #217
@erikvullings, potentially silly question. Have you cleared your cache and tried navigating to the root page (http://aurelia.io/hub.html)? I had a brief moment of worry yesterday as my browser had cached the site and my url was no longer valid (and gave me the spinner). Just want to make sure we're covering all the basis.

[2016-06-24 13:28] EisenbergEffect commented on #216
We don't have a release date for our own datagrid that we can share at this time. However, one of the strengths of Aurelia is that it is highly interoperable with other libraries. There are many datagrids available that you could choose from. I'd recommend looking for one that meets your unique requirements and just dropping that into Aurelia wherever you need it. One nice example is the Keno data

[2016-06-24 13:28] #216 closed

[2016-06-24 13:39] EisenbergEffect commented on #217
The HUB is built using the Aurelia CLI, which uses NPM for package management and RequireJS for its loader. It has its own build system, similar to Webpack, but capable of using different module loaders.

[2016-06-24 13:39] EisenbergEffect commented on #217
So, does it also work on the phone?

[2016-06-24 14:53] dkent600 opened #219 "missing some general Binding documentation"
Hi, when I click on "Binding" under "Articles", I see info about ValueConverters and Behaviors, but nothing about the basics of binding in general, including the syntax for binding expressions.  I've seen information about types of bindings, somewhere.  I've actually never been able to find information *anywhere* about the syntax of binding expressions.  I'd love to see these.

Thanks,
Doug

[2016-06-24 15:00] EisenbergEffect commented on #219
Yes, @jdanyow is working on an article with the basics. It should be ready soon.
In the mean time, you need to go to the cheat sheet. That has most of what you want to know.

[2016-06-24 15:00] #219 closed

[2016-06-24 15:59] JoshMcCullough opened #220 "This URL in the new "Hub" doesn't seem to render correctly."
http://aurelia.io/hub.html#/doc/api/aurelia/templating/latest/function/containerless

I searched for "containerless" and clicked the first/only result under the API heading.

[2016-06-24 16:43] erikvullings commented on #217
OK, I've tried again, and now it is working (sort of).
The page loads, but it cannot be used since I cannot collapse the menu. See the attached screenshot (Edge browser on Windows Phone 10 - I've used also another browser, Maxthon, with similar results).

![image](https://cloud.githubusercontent.com/assets/3140667/16344125/50ea761e-3a3b-11e6-87f2-1ffd5cdd6419.png)

[2016-06-24 16:45] EisenbergEffect commented on #217
Sure. That's a different issues. Our initial release wasn't designed primarily for mobile since most developers will use this at their desktop. We are tracking mobile issues and will have a mobile UX update. Since we've already got that tracked, I'll close this issue.

[2016-06-24 16:45] #217 closed

[2016-06-24 20:36] josh-egan opened #221 "search shortcut does not work when using Chrome on Windows 7"
Using Chrome on Windows 7

When I hit Ctrl + Shift + P in an attempt to open up the search box, I get the print dialog.

[2016-06-24 20:38] EisenbergEffect commented on #221
LOL Yes. Yes. A bit of an oversight. We'll get it fixed. Thanks!

@joelcoxokc Just a reminder when you get a chance, we need a different key combo for Windows at least :) But, have a nice weekend first. We've been really busy this week. Take a break.

[2016-06-25 17:28] diahron opened #222 "Hub Site's Side Nav"
Is there a way to hide the side-bar on the Hub Page. It would be nice to get it out the way. Most api has this feature. It would be nice to implement it.  Just a thought.

[2016-06-26 06:35] amourrashid opened #223 "Aurelia Hub Navigation Skeleton"
Hello;
   Can you please provide us a Navigation skeleton  like the one used in the Aurelia HUB.
This is very useful for Developing a large application with many modules such as an ERP including lets say HR Module,Payroll,General Ladger,Accounts Receivable,Accounts Payable,Inventory,Assets etc.

Thank you very much.
Amour Rashid
Dar Es Salaam
Tanzania

[2016-06-26 10:23] EisenbergEffect commented on #223
We can't provide our HUB directly and it would take a lot of work to clean that up and turn it into a general purpose app kit. However, we are planning to release some kits like this. I'm closing this for now since we have this tracked internally.

[2016-06-26 10:23] #223 closed

[2016-06-26 19:05] amourrashid commented on #223
Thank you Rob

Sent from Yahoo Mail on Android

  On Sun, 26 Jun, 2016 at 13:23, Rob Eisenberg<notifications@github.com> wrote:
We can't provide our HUB directly and it would take a lot of work to clean that up and turn it into a general purpose app kit. However, we are planning to release some kits like this. I'm closing this for now since we have this tracked internally.

—
You are receiving thi

[2016-06-27 05:25] PeterWone opened #224 "Ctrl+Shift+P not a suitable key binding on any major browser"
Hub is gorgeous and slick with a quite good UX. However, the keyboard shortcut Ctrl+Shift+P for searching is not a good choice.
- Internet Explorer Ctrl+Shift+P invokes privacy mode (aka porn mode).
- Microsoft Edge Ctrl+Shift+P invokes privacy mode.
- Chrome Ctr+Shift+P invokes the Print dialog.
- Firefox Ctrl+Shift+P invokes privacy mode.

How about Ctrl+Shift+F which appears to be uncommitted o

[2016-06-27 12:43] dkent600 opened #225 "cheatsheet section on databinding doesn't include oneTime, oneWay and twoWay"
This example is given in the binding behaviors section, but not in the cheat sheet in the databinding section where .one-way, etc are discussed:

<span>${foo & oneTime}</span>

Similarly for oneWay and twoWay.

I would expect to find these in both places.

[2016-06-27 14:09] dkent600 opened #226 "databinding cheat sheet section doesn't talk about binding expressions and the fluent api"
I see you've nicely updated the databing section in the cheat sheet, but are still missing some important stuff (in my mind).  So just in case, I'd like to see treatment of:

1) syntax of binding expressions that include javascript and '|' and '&' and whatever else can go in
2) use of relevant fluent API, such as BindingEngine.propertyObserver, etc

Thanks

[2016-06-27 14:10] dkent600 opened #227 "databinding in the cheat sheet should go in the higher-level "Binding" section."
It seems to me that a lot of the information under databinding in the cheat sheet should go in the higher-level "Binding" section where folks are most likely to go to find that info.  Perhaps rename the "Binding" section to "Data Binding".

[2016-06-27 14:30] EisenbergEffect commented on #227
Yes, it's being worked on by @jdanyow We should have that soon.

[2016-06-27 16:18] jdanyow commented on #227
I'll have this done this week- hang in there

[2016-06-27 16:20] EisenbergEffect commented on #227
Thanks @jdanyow You've done so much amazing work!

[2016-06-27 19:21] dkent600 commented on #227
Yes! (Amazing work!)

[2016-06-28 01:45] EisenbergEffect opened #228 "Docs section"
@Pablo-Ivan commented on [Mon Jun 27 2016](https://github.com/aurelia/framework/issues/453)

See the [Docs](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/getting-started/1), right? It says "Based on your selection, you'll want to configure this documentation to show the appropriate language for all samples. Look at the top of this page. You will see a language selector. Be sure

[2016-06-28 16:39] dkent600 opened #229 "Callback parameters"
Would be great if we could see parameters for referenced callbacks.  For one example, in "The Component Lifecycle" we see the callbacks listed, but it is not easy to see what are their parameters.

What if a tooltip gave this information, or if by clicking we were taken to the relevant API reference page?

[2016-06-28 16:40] dkent600 commented on #229
oops, sorry, they are actually there.....  :-P

[2016-06-28 16:40] #229 closed

[2016-06-28 17:13] erdoll opened #230 "Printing"
Nice update to the documentation with the new HUB approach.  However, if one wants to print say the Getting Started Guide, a print friendly format is not available.  The default print format is hopeless.  Google Simplify Page does not help.  It would be nice to be able to print the documentation - for those of us that like to consume it that way instead of on the screen.

[2016-06-28 17:27] EisenbergEffect commented on #230
I'm closing this as a dupe. We are considering a solution of generating pdfs or all our articles automatically and making that available as a download.

[2016-06-28 17:27] #230 closed

[2016-06-28 17:27] EisenbergEffect commented on #215
I'm closing this as a dupe. We are considering a solution of generating pdfs or all our articles automatically and making that available as a download.

[2016-06-28 17:27] #215 closed

[2016-06-28 17:27] EisenbergEffect commented on #196
We are considering a solution of generating pdfs or all our articles automatically and making that available as a download.

[2016-06-28 17:50] erikvullings commented on #215
@EisenbergEffect would you also consider generating mobi or epub versions for eBook readers?

[2016-06-28 17:59] EisenbergEffect commented on #215
We would have to research that. Is there a node.js plugin to create those formats from html?

[2016-06-28 21:30] dkent600 opened #231 "singleton view-models and their child containers"
The section on containers says:  "Each time the Router navigates to a screen, it creates a child container to encapsulate all the resources related to that navigation event and then auto-registers the screen's view-model in that child container. As you know, auto-registration, by default, results in the view-model being registered as a singleton."

This is misleading because apparently the child c

[2016-06-28 22:10] dkent600 opened #232 "Hub app freezes up"
Steps:

0) In the Edge browser (haven't tried others)
1) start fresh from home page "http://aurelia.io/hub.html#/doc/persona/developer"
2) click on magnifying glass to search for a topic
3) in the search textbox, type "singleton"
4) click on the topic "Object Lifetime, Child Containers and Default Behavior"
5) click anywhere in the first paragraph (it is probably not necessary to be this specific)

[2016-06-28 23:00] EisenbergEffect commented on #232
There are a few nav bugs we are working on. This seems similar to what
we've observed.
On Jun 28, 2016 6:10 PM, "dkent600" <notifications@github.com> wrote:

[2016-06-29 06:07] lmj0011 commented on #222
Yes, this is a problem for mobile viewers

[2016-06-29 17:01] sameerkattel opened #233 "Pdf or Word like document traversal"
I found it inconvenient to switch back and forth between the TOC indexes/side navigation I wish the side anigation were organized in tree like structure similar to that of pdf or word doc.

[2016-06-29 17:06] EisenbergEffect commented on #233
We aren't planning to change the UX here any time soon. We will provide a pdf document of the docs itself in the future though.

[2016-06-29 17:06] #233 closed

[2016-06-29 20:42] dkent600 opened #234 "the"
The Logging docs given [here](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/10) don't work when put into code.

This appears to be caused, in the code, by the syntax in the aurelia-framework.d.ts:  `export const [xyz] : [anyType]`

The following code *does* work:

[code]

usage:

[code]

(thanks to Paolo Furini @nexbit)

[2016-06-30 13:31] pasky commented on #26
This seems to be as good a place to leave feedback as any - I've been using Aurelia for a few weeks and my number one hurdle is how hard it is to google out information.

If you are lucky, someone's last year blogpost will share some tricks (which may or may not be up to date with current Aurelia), but the official Aurelia docs are as good as non-existing in this regard because they never come up

[2016-06-30 14:12] scriswell commented on #26
We're always working on our docs and improvements the new search index are ongoing. As for search engine results like those found with Google we are working on building features into Aurelia that will allow for excellent SEO optimization. These features are part our our server side rendering updates that we're working on now. We will of course be dogfooding this in our own apps to insure a first-c

[2016-06-30 14:29] pasky commented on #26
Awesome, I'm just happy to hear that you have this in your crosshairs. :)

[2016-07-03 16:14] dkent600 opened #235 "persist selection of typescript or ESNext, ES2015"
It would be nice if the Hub would persist in the Url the selection of Typescript, ESNext, or ES2015.  I frequently forget to reselect TypeScript, which is not the default.

[2016-07-03 16:32] EisenbergEffect commented on #235
@joelcoxokc Looks like a regression. Please address asap.

[2016-07-03 18:31] Gheoan commented on #235
If I recall correctly the choice was not persistent even in the old docs (before hub).

[2016-07-03 19:04] EisenbergEffect commented on #235
It absolutely should have been. There may have been a bug introduced at one time. Perhaps it went unnoticed.

[2016-07-04 03:31] EisenbergEffect commented on #186
We've got a new `testing` library that enables full unit testing of components.

[2016-07-04 03:31] #186 closed

[2016-07-04 03:31] EisenbergEffect commented on #186
Docs here: http://aurelia.io/hub.html#/doc/article/aurelia/testing/latest/testing-components

[2016-07-04 11:39] Krossmaskinen opened #236 "Missing closing curly bracket in"
In [Dependency Injection: Basics](http://aurelia.io/hub.html#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics/2), there's a missing curly bracket in the __injection__ section.

[2016-07-04 14:18] EisenbergEffect commented on #187
Closing this. I believe it's addressed by new setups with cli and webpack. Also, I think it's a "red herring" and shouldn't cause any real issues.

[2016-07-04 14:18] #187 closed

[2016-07-04 14:39] EisenbergEffect commented on #191
Latest docs contain the appropriate information.

[2016-07-04 14:39] #191 closed

[2016-07-04 14:48] EisenbergEffect commented on #194
We'd love a community member to tackle this if it's interesting to them. Ultimately, our hub will have much more than docs and integrate other information streams, so it will be the best source of information available. However, a dash docset is always welcome. All the docs are available in public repos in the `doc` folder of each repo. Articles are written in markdown. They have a basic header an

[2016-07-04 14:48] #194 closed

[2016-07-04 14:50] EisenbergEffect commented on #198
I believe that most of this is in the cheat sheet. There are also new docs coming for templating and binding that should catalog everything.

[2016-07-04 14:50] #198 closed

[2016-07-05 00:03] oscarcs opened #237 "Document matcher.bind?"
There doesn't appear to be any easily-accessible documentation on using matcher.bind (with `<select>`s etc.) apart from [here](https://stackoverflow.com/questions/33920610/binding-a-select-to-an-array-of-objects-in-aurelia-and-matching-on-id).

Maybe this should be in the main docs? It seems this would be a _reasonably_ common use case.

[2016-07-05 12:53] jdanyow commented on #227
sorry @dkent600 - the holiday weekend snuck up on me- I'm working on it this week.

[2016-07-05 13:05] dkent600 commented on #227
@jdanyow No pressure  :-)

[2016-07-05 20:07] pyjpenny commented on #196
Could you elaborate on why this is happening?

My concern is whether it happens for generic Aureila pages, or if it is something peculiar to "the Hub".

[2016-07-05 20:10] EisenbergEffect commented on #196
It's something relating to our CSS, not Aurelia itself.

[2016-07-06 02:38] #206 closed

[2016-07-06 20:02] #211 closed

[2016-07-08 13:42] kdekooter opened #238 "Documentation failing to load on Firefox"
The index navbar is visible, the content panel stays empty.

This is what the console shows:
[code]

[2016-07-08 14:48] EisenbergEffect commented on #238
We've tested that browser and haven't seen any issues. What OS and what version of Firefox are you using.

[2016-07-09 06:05] EisenbergEffect commented on #218
The docs app is designed to support multiple languages, including version tracking across translations on individual sections of each doc so that we can show when it's out of date with the English version. We've still got a bit more tech to build around other languages, including swaping individual sections of a doc between your native language and English.

[2016-07-09 06:05] #218 closed

[2016-07-09 06:08] EisenbergEffect commented on #221
Closing this as a duplicate. We've got it tracked elsewhere. Thanks!

[2016-07-09 06:08] #221 closed

[2016-07-09 09:08] kdekooter commented on #238
Firefox 47.0.1 on OS X El Capitan 10.11.5

[2016-07-09 09:13] kdekooter commented on #238
After restarting FF with addons enabled the HUB suddenly works!

Thank you for your prompt response, Rob.

[2016-07-09 09:13] #238 closed

[2016-07-09 14:27] Ma3yTa opened #239 "HUB word is not associated with Documentation"
https://s31.postimg.org/6ytr0fwe3/wp_ss_20160709_0002.png

[2016-07-09 15:08] #239 closed

[2016-07-09 20:23] EisenbergEffect commented on #226
We've got extensive databinding documentation on the way :) We're tracking it across multiple issues elsewhere so I'm going to close this one for now. Thanks!

[2016-07-09 20:23] #226 closed

[2016-07-09 20:28] #228 closed

[2016-07-09 20:39] EisenbergEffect commented on #234
Can you make a recommendation on how to fix the d.ts file? The code does technically work fine and is a supported feature of ES 2015 modules. It seems that TypeScript isn't understanding that or our dts is incorrect. How should we address this?

[2016-07-10 00:50] dkent600 commented on #234
@EisenbergEffect Let me investigate...

[2016-07-10 01:04] Gheoan commented on #239
This issue is about people going to aurelia.io and not finding the docs and should be reopended.
My suggestion is to replace "hub" with "docs" until the hub is expanded to contain more then docs.

[2016-07-10 02:52] EisenbergEffect commented on #239
There is a new web site design being worked on and rolling out in the next few weeks. Hub is about more than docs. Additional features are rolling out there as well.

[2016-07-10 13:13] dkent600 opened #240 "typing "lifecycle" in documentation Search box should list the Screen Activation Lifecycle"
Expected:

When one types "lifecycle" in documentation Search box the results should include the Screen Activation Lifecycle.

Result:

Screen Activation Lifecycle is not listed.  (It is found on the Cheat Sheet under "Routing".)

[2016-07-10 13:15] dkent600 opened #241 ""Routing" should have it's own top-level article or section in the documentation"
Currently Routing is discussed in the Cheat sheet.  I think this is an important-enough topic as to merit it's own top-level section in the documentation.

[2016-07-10 13:16] EisenbergEffect commented on #241
Yes, we've already tracked that elsewhere. Closing this as duplicate.

[2016-07-10 13:16] #241 closed

[2016-07-10 13:18] EisenbergEffect commented on #240
We will investigate this. It's related to indexing and deep linking to lower-level headings.

[2016-07-10 14:18] dkent600 commented on #234
@EisenbergEffect I just retested this and find that this may have been a user error on my part:  At the time I may have been trying to instantiate LogManager.  At least, that is my best guess as to why the problem has disappeared.

[2016-07-10 14:18] #234 closed

[2016-07-10 14:22] EisenbergEffect commented on #234
Great. Thanks for the followup!

[2016-07-11 13:48] EisenbergEffect commented on #235
Please make sure that a person's selection of programming languages persists across browser refreshes. It does for me, but please check several browsers to be sure.

[2016-07-11 13:53] #236 closed

[2016-07-11 13:59] EisenbergEffect commented on #237
@jdanyow Please be sure to include this topic in the binding docs you are working on.

[2016-07-11 14:58] guidorice opened #242 "HUB on Android browser"
Hi, would it be possible to fix the HUB documentation to be usable on smaller screens? This screenshot is from Android 6.0.1 1080 x 1920 pixels (~445 ppi). It is not possible to hide the nav-bar on the left, and also the UI  is not zoomable to make it smaller (only larger)

![aurelia-hub-on-android](https://cloud.githubusercontent.com/assets/766758/16735154/546b08d2-4745-11e6-8db4-f371678f4b45.png

[2016-07-11 15:21] EisenbergEffect commented on #242
Closing this as a duplicate. We're already working on a mobile update.

[2016-07-11 15:21] #242 closed

[2016-07-11 15:28] guidorice commented on #242
OK cool, thanks Rob. The HUB is a great resource.

[2016-07-11 19:50] guivr opened #243 "Signal Demo not working?"
[Singal Demo](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-binding-behaviors)
don't appear to be working, wehn I click the 'Signal' button, nothing happens.

Is this normal?

[2016-07-11 20:25] guivr commented on #243
Refreshed the page and worked

[2016-07-11 20:25] #243 closed

[2016-07-11 20:31] EisenbergEffect commented on #243
Perhaps there was a temporary network issue?

[2016-07-11 21:04] guivr opened #244 "Unexpected grave accent at 'HTML Behaviors Introduction > Global Resources > main' code"
There's a typing error on ['main' code example](http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-html-behaviors-introduction/5) on line 5, which contains an unexpected grave accent after custom-element declaration.

I believe

('custom-element`, 'another-directory/custom-attribute');

should be

`('custom-element', 'another-directory/custom-attribute');`

[2016-07-11 21:07] #244 closed

[2016-07-11 21:07] EisenbergEffect commented on #244
Got it. Thanks!

[2016-07-11 23:56] HariharanS opened #245 "Aurelia - Hub - Unable to view the page content on mobile"
![img_5114 1](https://cloud.githubusercontent.com/assets/1931027/16750621/67e00350-4816-11e6-9993-2761223c7f4a.PNG)

I have attached a screenshot from my mobile. Unable to view the page content from either Safari or Chrome on my iPhone.
The menu takes up the whole page (appears to be in the foreground) and the page content is hidden in the background.

[2016-07-12 00:00] EisenbergEffect commented on #245
Yes, we have this tracked already. Closing as a duplicate.

[2016-07-12 00:00] #245 closed

[2016-07-12 23:57] xiwc opened #246 "The vertical scrollbar will disappear after dbclick on the aurelia.io doc page."
eg: http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/cheat-sheet/9

[2016-07-13 00:05] EisenbergEffect commented on #246
@joelcoxokc Ping.

[2016-07-13 00:08] EisenbergEffect commented on #246
@xiwc Can you provide some more details? I can't reproduce the problem.

[2016-07-13 03:53] xiwc commented on #246
![image](https://cloud.githubusercontent.com/assets/8816203/16791216/4a8bec22-48ef-11e6-8784-2b10fcd7a689.png)

![image](https://cloud.githubusercontent.com/assets/8816203/16791326/6b8f305e-48f0-11e6-9a63-306f090a93ec.png)

[2016-07-13 13:06] EisenbergEffect commented on #246
That's not really the information I'm looking for because we can't even reproduce the bug. I need to know:

* What operating system are you on?
* What browser and version are you using?
* What are the exact steps that cause the bug?

[2016-07-14 01:59] xiwc commented on #246
@EisenbergEffect
![image](https://cloud.githubusercontent.com/assets/8816203/16825695/73064f98-49a9-11e6-994e-fa96e29c1c2a.png)
![image](https://cloud.githubusercontent.com/assets/8816203/16825702/7c3959a2-49a9-11e6-811c-4aab991bd334.png)

steps:
1. open URL: http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/technical-benefits/8
2. dbclick any word on the main content body
3. then i

[2016-07-14 22:58] jsobell opened #247 "Search on documentation should search content"
Currently, searching for something like 'radio button' returns nothing. When users are looking for assistance they don't know which section to look under, and with about thirty subsections it's daft to expect them to search each one individually.
If necessary, add an option for 'search all content', but as-is it's unfortunately not very usable.

[2016-07-15 00:15] EisenbergEffect commented on #247
I think our search indexing is missing headings that are less than h2. That's probably why some things aren't coming up. We'll investigate.

[2016-07-16 02:17] rquast commented on #212
It's still not getting indexed, and I still can't search "PushState" even though it's in the content (under Cheat Sheet).

[2016-07-16 02:21] rquast commented on #212
I'm up to a point in my app now where I'm trying to work on the SEO.. so a guide and a working example of this would really help.

[2016-07-16 02:28] EisenbergEffect commented on #212
The SEO piece for our docs isn't implemented yet. For that we need server-side rendering. The basics of that have just begun. You are welcome to contribute. If you can't wait for that feature, there are services available which will do server render for SEO for you.

[2016-07-16 02:38] rquast commented on #212
Thanks for the update and advice. After reading about Google's indexing requirements for JS sites, I've come to the conclusion that server-side rendering is the best option. I'll try a service if I can't figure out something with PhantomJS.

[2016-07-17 10:43] EisenbergEffect commented on #208
@RomkeVdMeulen Have you tested that this works correctly cross browser? I thought I checked that custom properties were not cloned and that using get/set attribute was required.

[2016-07-17 11:19] RomkeVdMeulen commented on #208
I've tested it in Chrome, I'll check other browsers monday.

I'm sorry, I didn't follow that last part.

[2016-07-17 16:54] EisenbergEffect commented on #208
So, if you have an element and you see element.myProp on it and then clone the element, do you still have a myProp on the clone. I was pretty sure that didn't work and that an attribute via the setAttriubute api was required.

[2016-07-18 01:34] xiwc commented on #246
@EisenbergEffect
I have found the real reason: it's not compatible with my google chrome plugin(有道词典). It will be normal if turning off this plugin.

Sorry for my trouble.

[2016-07-18 01:35] #246 closed

[2016-07-18 08:00] RomkeVdMeulen commented on #208
You're right. I can't get it to work now. Strange, I could've sworn it worked at some point.

I'm not entirely happy with this construction anymore anyway. It may just be simpler to use `@processContent(false)` and then store and clear the element content in the constructor.

[code]

Pretty compact, and more transparent as well.

[2016-07-18 08:02] RomkeVdMeulen commented on #208
I'll just close this.

[2016-07-18 08:02] #208 closed

[2016-07-20 10:30] dkent600 opened #248 "Information on observing arrays should be documented"
When I search in the hub for "array" or "observable" I can't find any information about observing arrays.  There is nothing in the Articles TOC that I can find containing that information.

This is to suggest that information on observing arrays should be documented and findable.

I'm using Edge browser.

[2016-07-20 21:49] eshell commented on #222
+1

[2016-07-20 22:00] EisenbergEffect commented on #222
Hopefully releasing an update next week :)

[2016-07-23 11:33] fractalf opened #249 "New doc, not really very helpfull"
![image](https://cloud.githubusercontent.com/assets/5707457/17077693/94e75ca6-50d9-11e6-8b84-26a6b63e0ed8.jpg)

this is what i get when trying to read some docs on an ipad2 with chrome. Gui is really bad and the search dont give me anything.

Please, put a link for the old docs somewhere?

[2016-07-23 14:00] EisenbergEffect commented on #249
Mobile fix is coming this week.

[2016-07-23 14:00] #249 closed

[2016-07-24 11:12] jdanyow commented on #227
this has been implemented and will go out with the docs app update this week

[2016-07-24 11:12] #227 closed

[2016-07-24 11:52] #237 closed

[2016-07-26 11:56] adzm commented on #222
Documentation inaccessible on mobile entirely due to this.

[2016-07-26 13:01] EisenbergEffect commented on #222
We've got it fixed and are releasing it in the next day or so.

[2016-07-26 13:01] #222 closed

[2016-07-27 05:10] 7Pass commented on #68
@EisenbergEffect  Can you add a note to navigationStrategy implementations that if the route has been navigated to before, you will need to set moduleId of NavigationInstruction.config.viewPorts.default as well? I spent quite sometime not understanding how navigationStrategy work and about to give up when I finally notice that viewPorts had its moduleId values as well, and that was the reason navi

[2016-07-27 12:44] wichert opened #250 "Clarify if "detached" is fired before or after removal from the DOM"
Currently the documentation says "At some point in the future, the component may be removed from the DOM. If/When this happens, and if the view-model has a detached callback, this is when it will be invoked.". From that it is not clear if detached is fired just before, or just after the component is removed form the DOM.

[2016-07-28 10:41] Gheoan opened #251 "Example of templating syntax not working"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework 1.0.1

* **Browser:**
all

**Current behavior:**
The docs app consider "\`${heading}\`" from the sentence "Second, did you notice the \`${heading}\` syntax?" string interpolation and attempts to replace heading with the value of the heading resulting in:
![](https://cloud.githubusercontent.com/assets/9906612/17209869/0bb085b

[2016-07-28 12:47] Gheoan commented on #251
https://github.com/aurelia/framework/pull/494

[2016-07-28 12:47] #251 closed

[2016-07-28 15:15] gheoan opened #252 "Clicking the search icon does not focus the search input"
**I'm submitting a bug report**

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Browser:**
  Chrome 52

**Current behavior:**

Clicking the search icon does not focus the search input.

**Expected/desired behavior:**
- **What is the expected behavior?**

Clicking the search icon should focus the search input.

[2016-07-28 23:51] dkent600 opened #253 "The "Screen Activation Lifecycle" description should be in its own subsection under the top level Router section"
The "Screen Activation Lifecycle" description should be in its own subsection under the top level Router section.  Currently it is buried in the CheatSheet/Routing.

The Component lifecycle already has its own subsection under Creating Components.

[2016-07-28 23:53] dkent600 opened #254 ""Creating Components" should just be called "Components""
For consistency and flexibility, the "Creating Components" section should just be called "Components"

[2016-07-28 23:54] dkent600 opened #255 "The Component and Router lifecycles should be shown combined somewhere"
The Component and Router lifecycles should be shown combined somewhere so we can see everything that happens and when.

[2016-07-29 13:57] dkent600 opened #256 "Dicsussion of contexual template binding items is hard to find"
Contextual template binding items (seen below) should be in their own section, or else in the Templating Basics section, under the top level Templating topic.

Contextual items available inside a repeat template:
• $index  - The index of the item in the array.
• $first  - True if the item is the first item in the array.
• $last  - True if the item is the last item in the array.
• $even  - True if

[2016-07-29 13:58] dkent600 opened #257 "Cannot find mention of $parent"
Typing $parent in Search turns up nothing.  Should it be in with the Contexual Template items list?

[2016-07-29 14:22] pholly opened #258 "Recommendation: Build Systems parent page that summarizes and helps people choose one"
I think it would be helpful to add a parent page to Build Systems that:

1. Summarizes each option (CLI, Webpack, JSPM) and maybe give benefits/drawbacks of each one
2. Helps people new to Aurelia and build systems choose
3. Specifies if there's an Aurelia "standard", like the CLI, that someone should choose if they don't know what to choose

I'm new to Aurelia and build systems and want to start

[2016-07-29 14:45] beatsm opened #259 "Contact Manager - Building Out the Contact Detail Screen"
The html is for contact-detail.html but the documentation states to add it to the app.html

![image](https://cloud.githubusercontent.com/assets/3408087/17251060/0d7e3b66-559f-11e6-85d7-5b402f6da4af.png)

[2016-07-30 10:48] Gheoan commented on #259
Will be fixed by https://github.com/aurelia/framework/pull/501.

[2016-07-31 08:52] stuartellis opened #260 "Please include a security policy statement"
**I'm submitting a feature request**

* **Library Version:**
1.0

**Current behavior:**

There is no statement in the documentation or on the Aurelia Website about the current security policy.

**Expected/desired behavior:**

I would expect there to be a statement that clearly explains how to notify the core team of security issues, and how the team will respond to security vulnerabilities.

For e

[2016-08-01 23:28] xenoterracide opened #261 "contact manager tutorial contradicts itself"
so it tells us to add it to app-bundle and then says it will be included in vendor bundle

[2016-08-02 08:09] RomkeVdMeulen opened #262 "All release notes in one place"
Every time I update the Aurelia libs, I try to find release notes to check for any (breaking) changes to inform testing before rolling it out. However, it's not exactly simple to find release notes for everything that changes when upgrading (e.g.) from RC1 to 1.0.0. There's a changelog (which is not exactly the same) for the release of each library on Github, and there's (sometimes) a higher-level

[2016-08-02 12:57] EisenbergEffect commented on #262
There aren't any planned breaking changes for a long time, so I don't think you'll have to worry too much about that.

We'll be aggregating the changelog on the blog as usually. That content is directly taken from the change log generated by our release process and is the same content that is published in the release notes.

I'll leave this open to see if we can do something more in the future. It

[2016-08-02 13:04] RomkeVdMeulen commented on #262
I didn't see an aggregated changelog on the [1.0.0 announcement](http://blog.durandal.io/2016/07/27/aurelia-1-0-is-here/). Will that be coming at some point?

[2016-08-02 13:18] EisenbergEffect commented on #262
You are right. We didn't have one there. I don't think there were any breaking changes, just bug fixes and a couple of new features. We hadn't planned to generate a list but we could look at putting one together.

[2016-08-03 00:56] dlo83 opened #263 "Contact Manager - Using Types in ES2015 example for app.js"
**I'm submitting a bug report**

* **Library Version:**
1.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
5.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

**Current behavior:**
In the app.js example found [here](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-manager-t

[2016-08-06 04:06] robrich opened #264 "Create a quick reference cheat sheet"
**I'm submitting a feature request**

I came from another client-side framework, I carefully studied the docs, I love the conventions, but I often forget them, and the framework isn't very forgiving when I do.  **As a software developer, I want a quick cheat sheet that lists the conventions Aurelia uses, and a 1-line description of each.**  I'll bookmark the page, print it, or do other things to h

[2016-08-08 11:37] COLABORATI opened #265 "CSS render error: grey text on grey background in Chromium"
There is some problem with the documentation css: it renders grey text on grey background in chromium browser, what is barely readable. Please fix this to show high contrast so people can actually read the docs, thank you!

![2016-08-08_aurelia-docs-grey-grey](https://cloud.githubusercontent.com/assets/6514273/17478548/ea6a630e-5d6c-11e6-95c9-5eec896fd40a.png)

[2016-08-08 17:08] vangundy opened #266 "Feature Request for Documention"
**I'm submitting a feature request**

**Current behavior:**
When changes appear but it's not always apparent what has changed.

**Expected/desired behavior:**
It would be great if there was a way to subscribe to change notifications.  Also, a section titled "What's New" would be a great place to itemize recent changes to documentation.

[2016-08-09 12:58] dkent600 opened #267 "There should be some explanation of what is a controller"
Under "Binding Basics" => "Referencing Elements" I find the following:

`controller.ref="expression"` : create a reference to a custom element's controller instance

But I am able to find little useful explanation of what a "controller" is in the Aurelia architecture.

[2016-08-09 14:30] jdanyow commented on #267
there's a little bit about the `Controller` here:  http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-how-it-works/1

[2016-08-09 15:29] dkent600 commented on #267
Ah OK, thanks.  It is hard to know by searching for the word "Controller" which article to look in to find that explanation.

[2016-08-10 22:34] JMerrill opened #268 "HTML display of documentation does not seem to agree with GitHub Markdown"
I'm going through the Quick Start (excellent, btw). Using both Edge and Chrome, there is a snippet (search for "did you notice")

Second, did you notice the (code syntax marker blob with nothing in it)  syntax?

I wanted to fix this, so I looked at it in the .md source. I found this (line 257 of quick-start.md) [using blockquote so the back-tick isn't treated as code syntax marker]

The GitHub onl

[2016-08-11 01:56] jwatkin opened #269 "Typos in Quick Start documentation"
Here are some possible typos on this page:
http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/quick-start/6

**1**
“Second, did you notice the **(there’s an empty gray box here, one character wide)** syntax?”

**2**
Shouldn’t this, “…template **sting** syntax as shown…”, be this, “…template **string** syntax as shown…”?

**3**
I don’t understand the following. Should “addTodo” be “re

[2016-08-14 02:28] lmj0011 opened #270 "include example code output in docs"
**I'm submitting a feature request**

* **Language:**
all

<hr>

Does the Aurelia Docs assume that the reader will be executing the code in the examples? I feel like the output from the code examples should be included too, for those who are not first timers.

If it is expected that the reader should run the code it would be helpful to include a [GistRun](https://gist.run/?id=5806829eed47bd9e819d)

[2016-08-15 10:04] Hannesver commented on #269
It also says `SystemJS.import('aurelia-bootstrapper');`, while it is `System.import('aurelia-bootstrapper');`

[2016-08-16 02:59] dsm054 opened #271 "incorrect filenames in contact manager tutorial"
**I'm submitting a bug report**
----

First, in http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-manager-tutorial/6, it says

but the filename in the code box says `no-selection.html` instead.  This can lead to a mysterious `vendor-bundle.js:3675 Uncaught TypeError: h.load is not a function` error..

Second, in http://aurelia.io/hub.html#/doc/article/aurelia/framework/lates

[2016-08-19 13:13] EisenbergEffect commented on #248
@jdanyow When you get a chance, can you add some information related to this into the binding documentation? Maybe this is a good topic for a "Recipes" document?

[2016-08-21 20:09] Gheoan opened #272 "No content in Firefox on specific page"
**I'm submitting a bug report**

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Browser:**
Firefox 50 (Firefox Developer Edition)

**Current behavior:**
Content is not displayed on http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-custom-attributes. Note that other pages work as well as other browsers.

![screen shot 2016-08-21 at 23 0

[2016-08-22 10:12] gamtiq opened #273 "A couple of typos in documentation"
There are the following typos in documentation:
* In [Creating A New Aurelia Project](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-manager-tutorial/2) section of "Contact Manager Tutorial":

* In code for "Basic HTTP Interceptors" inside [aurelia-http-client](http://aurelia.io/hub.html#/doc/article/aurelia/fetch-client/latest/http-services/3) section of "HTTP Services"

[2016-08-22 14:09] dkent600 opened #274 "route-href should be documented"
The route-href custom attribute should be documented

I don't find that the route-href custom attribute is anywhere documented.  At least, it turns up nothing in the search box.

[2016-08-23 03:44] xenoterracide opened #275 "document how to connect to local api servers"
I feel like for local development having a server that is served on another port is common, however production may quite frequently require quite a different configuration.

for webpack the best option seems to be proxy, it took me a while to figure out how to even provide this configuration http://stackoverflow.com/q/39030700/206466

[2016-08-29 00:14] feardarkness opened #276 "Can't change between ES 2016 and TypeScript in examples"
Hi, when i try to change between ECMA 2016 and typescript in docs nothing happens.

url: http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-manager-tutorial/4

Chromium Versión 51.0.2704.79 Ubuntu 16.04 (64-bit)
Firefox 48.0

[2016-08-29 14:39] Krossmaskinen opened #277 "missing closing ' in validation section"
In the [validation part](http://aurelia.io/hub.html#/doc/article/aurelia/validation/latest/validation-basics/2) under "withMessageKey", a closing string notation is missing from the ensure-argument:

`ValidationRules.ensure('airportCode)`

[2016-08-30 07:45] dpix opened #278 "bindable properties must be all lowercase"
if you try to create bindable property on a custom element like so:

[code]

locationType cannot be bound to because the dom will render the property name all lower case like `locationtype`

I ran into this issue today, and although it seemed obvious as soon as I realised I could not use camel casing, it would be nice if this was explicit in the documentation (I couldn't find it anywhere) as I'm s

[2016-08-31 20:38] dissolve opened #279 "non-working example code"
in router configuration -> pipelines -> An Authorize Step  (ES Next)
http://aurelia.io/hub.html#/doc/article/aurelia/router/latest/router-configuration/8

This code gets and error of "step is not defined"

It looks like the docs are missing something like

`var step = new AuthorizeStep
`

[2016-09-13 01:29] kkagamida opened #280 "aurelia-cli: Dependency trace fails when the require() target is a directory"
**I'm submitting a bug report**

* **Library Version:**
0.19.0

**Please tell us about your environment:**
* **Operating System:**
Windows Server 2012 R2

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Browser:**
Chrome 53

* **Language:**
ESNext

**Current behavior:**
When executing **au run**, an error occurs during the dependency trace

[2016-09-16 18:18] devanp92 opened #281 "Duplicate topic indices for Setup & Bundling on Hub"
**I'm submitting a bug report**
- **Browser:**
  all

**Current behavior:**

<img width="1280" alt="chrome_2016-09-16_14-17-45" src="https://cloud.githubusercontent.com/assets/4533277/18596679/68432f3a-7c18-11e6-9cf6-b52573c82047.png">

[2016-09-16 18:19] EisenbergEffect commented on #281
They are actually different. It's just that it's not clear from that particular view. We'll look into improving that.

[2016-09-16 18:23] devanp92 opened #282 "Text overflows on Browser resize for Validation Doc"
**I'm submitting a bug report**
- Browser: all

Browser size: 1077px x 1050px
**Current behavior:**
![image](https://cloud.githubusercontent.com/assets/4533277/18596734/b04a8dd2-7c18-11e6-81c0-fd5e9dab008a.png)

[2016-09-20 13:59] jbrinkman opened #283 "Contact Manager could use clarification"
**I'm submitting a feature request**

* **Browser:**
All

* **Language:**
TypeScript

**Current behavior:**
I am currently working through the getting started documentation.  After finishing the Quick Start section, the next section I am presented with is the Contact Manager example.  The beginning of the documentation states:

I assume that this means that this tutorial will walk me through using

[2016-09-21 21:41] LarsKemmann opened #284 "Aurelia CLI docs should mention TypeScript 2"
This is related to the HUB documentation for the Aurelia CLI. I think it should be called out that the TypeScript scaffolding generated by the CLI relies on TypeScript 2, which is currently in RC status and so most users (like myself :)) won't have it and may spend quite a while before they figure out why their project won't compile.

[2016-09-21 21:48] LarsKemmann commented on #284
My apologies -- I saw the issue template, but it didn't seem to apply for documentation-related issues.

[2016-09-21 22:01] LarsKemmann opened #285 "Aurelia CLI docs should explain how to run ASP.NET Core projects"
**I'm submitting a bug report**
- **Language:**
  ESNext

**Current behavior:**
Executing `au run` returns a `404 Not Found` error at `http://localhost:9000/` together with the message:

Running the ASP.NET Core project works fine, once `Startup.Configure` is modified to include the following:

[code]

However, I have to navigate to `http://locahost:{port}/index.html`, I can't just navigate to `ht

[2016-09-22 16:29] LarsKemmann commented on #285
This issue is helpful as well: https://github.com/aurelia/cli/issues/285

[2016-09-22 16:33] LarsKemmann commented on #284
...never mind then...
https://blogs.msdn.microsoft.com/typescript/2016/09/22/announcing-typescript-2-0/
\*blinks\*
The web innovates *way* faster than I thought. Crazy.

[2016-09-22 16:33] #284 closed

[2016-09-26 04:05] EisenbergEffect commented on #285
@LarsKemmann Would you be interested in submitting a PR to the CLI documentation to help asp.net Core developers with this in the future? The documentation for the cli is in the framework repo, under the docs folder in the en-US sub folder.

[2016-09-26 04:32] EisenbergEffect commented on #283
Just confirmed that the docs do explain how to run the app earlier on.

[2016-09-26 04:32] #283 closed

[2016-09-26 04:46] EisenbergEffect commented on #282
Looks like our CSS should be switching to a single column but isn't. Thanks for the heads up!

[2016-09-26 15:06] LarsKemmann commented on #285
@EisenbergEffect Yes, I'd be happy to.

[2016-09-26 18:31] dkent600 opened #286 "search for @singleton should turn up something in the docs"
**I'm submitting a bug report**
* **Browser:**
all

**Current behavior:**
entering "@singleton" in the documentation search box turns up nothing.

**Expected/desired behavior:**
should turn up documentation about that decoration. same with @transient, etc.

[2016-09-26 20:23] Gheoan commented on #286
Search for singleton instead. Decorators are functions that can be 'applied' in a few ways.

[2016-09-26 22:41] dkent600 commented on #286
There is still pretty much nothing to explain it or the other related decorators

[2016-09-26 23:21] Gheoan commented on #272
This seems to be fixed.

[2016-09-26 23:21] #272 closed

[2016-09-28 02:49] EisenbergEffect commented on #286
@dkent600 Can you detail what you are hoping to find exactly? There is a section on the DI decorators in the DI doc but I'm guess you want more. We can always expand that, if you can provide us some direction on what you and the community might want.

[2016-09-30 05:13] EisenbergEffect commented on #280
Can you try setting up a dependency issue in the aurelia.json file for the gridfs-stream project? That may solve the problem.

[2016-09-30 19:03] kkagamida commented on #280
I hope that I understood what you wanted me to do.  I'm new to Aurelia.

I added the following to the "dependencies" array in aurelia.json:

          {
            "name": "gridfs-stream",
            "path": "../node_modules/mongodb/lib/gridfs-stream",
            "main": "index"
          },
          {
            "name": "mongodb",
            "path": "../node_modules/mongodb",
            "m

[2016-09-30 19:03] #280 closed

[2016-10-03 04:13] EisenbergEffect commented on #279
You are right! Would you care to make a PR to fix that? The doc is in the router repo. It should be a quick fix and an nice way to contribute.

[2016-10-03 04:18] EisenbergEffect commented on #278
@AshleyGrant Didn't we have this in the documentation somewhere?

[2016-10-03 04:45] EisenbergEffect commented on #277
@jdanyow Should be a quick fix.

[2016-10-03 04:46] EisenbergEffect commented on #276
It does work correctly for some of the code samples, but others don't. We may have some incorrect configuration for those languages in those cases. We'll check it out.

[2016-10-03 05:04] EisenbergEffect commented on #275
@xenoterracide Would you consider submitting a pull request to add this to our webpack docs? The document is in the docs folder of the framework library. This would be a great way to contribute to the project.

[2016-10-03 05:12] EisenbergEffect commented on #273
@gamtiq How about submitting a PR to address these issues? All our docs are on github. You will find them in the repo related to the topic, under a docs folder. It's a great way to contribute to the project.

[2016-10-03 08:21] gamtiq commented on #273
@EisenbergEffect I'll try to make changes in documentation during the week.

[2016-10-03 11:07] #277 closed

[2016-10-03 14:53] dkent600 opened #287 "information about binding context of compose is hard to find"
I am not finding an description of what is the binding context of a view when composed using the "compose" element.

Seems like I've seen that somewhere, but I think it should be a lot easier to find.

I would suggested putting that information here:  http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-basics/3

[2016-10-03 14:56] EisenbergEffect commented on #287
Good point. I've flagged this to add to our docs. In the mean time, I can answer your question. What is it specifically that you are wondering about? This can also help us to determine what info to add to the article.

[2016-10-03 15:03] dkent600 commented on #286
@EisenbergEffect sorry for the delay in responding.

Even when you tell me that, when I search for "decorators" and look [here](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/creating-components/3) I find nothing pertaining to these decorators.  I at all don't see where you are referring-to.

1) I would like to see these dependency decorators discussed in terms of how they can an

[2016-10-03 15:08] dkent600 commented on #287
:-) Thanks @EisenbergEffect .

First, this is in reference to the [larger question I just posed on stackoverflow](http://stackoverflow.com/questions/39834025/is-it-necessary-to-define-a-template-in-a-separate-file).  I'd love to also have an answer to that, and if it is in the affirmative, it would be great to see that in the docs too.

I would like to know whether one has access *by default* in t

[2016-10-03 16:28] dkent600 opened #288 "$this is not documented or does not turn up in the search box"
`$this` is either not documented or does not turn up in the search box.

I would suggest it go with `$parent`, but that doesn't turn up in Search either.

It could go [here](http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-basics/3), but I think it would be nice to have a section sibling to that called "Binding Context" where the binding context could be discussed in ge

[2016-10-04 03:44] EisenbergEffect commented on #288
@jdanyow Do we have all the contextual variables documented somewhere? If not is there a place we could easily add those?

[2016-10-04 19:03] amourrashid opened #289 "Aurelia Hub UI"
The Aurelia Hub UI is one of the best for building business applications. Why not offer it to the aurelia community.
  I think this would be a very good starting point for aurelia developers.
The current skeleton application is not fit for complex application.
I remember Rob used to show a sample app before his journey to angular. Where is that Rob?

[2016-10-04 21:15] EisenbergEffect commented on #289
The hub codebase would need to be cleaned up a lot before we could share it. I'm actually working on that a little each day now.

There are various samples around. I'm not sure which one you are referring to.

[2016-10-04 21:15] #289 closed

[2016-10-05 04:34] EisenbergEffect commented on #271
Got it fixed a little while back. Sorry we didn't update here!

[2016-10-05 04:34] #271 closed

[2016-10-05 04:40] EisenbergEffect commented on #270
We have some live demos, particularly in the binding docs. We can certainly work to add more in the future.

[2016-10-06 01:20] jdanyow commented on #288
`$this` is not in the docs. The rest (`$index`, etc) show up in two or three places.

[2016-10-06 05:38] EisenbergEffect commented on #269
We've got them fixed. (FYI SystemJS is a safe access over top System, since System is no longer a standard.)

[2016-10-06 05:38] #269 closed

[2016-10-06 05:41] EisenbergEffect commented on #268
We had a bug in the content which we did fix. If you are curious about the need for `\$` it is because our documents are actually passed through the aurelia view compiler so if we omitted the `\` it would think we were trying to databind to the `heading` property.

[2016-10-06 05:41] #268 closed

[2016-10-06 05:56] EisenbergEffect commented on #266
Do you want to know about entirely new articles? new sections of articles? fixes in typos? What is the granularity of what you would like to be notified about?

[2016-10-06 05:58] EisenbergEffect commented on #250
It is fired after removal from the dom. Would you be interested in submitting a PR to update the document with this clarification?

[2016-10-06 13:30] thepowderriverfarrier opened #290 "Not a bug but a suggestion for improvement"
* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
all

**Current behavior:**
On line viewing of documentation.

**Expected/desired behavior:**
It would greatly expedite learning Aurelia if I could easily print out the online documentation
for carrying it with me to read when time allows.

* **What is the motivation

[2016-10-06 14:22] EisenbergEffect commented on #290
I believe we have this tracked, so closing as a duplicate.

[2016-10-06 14:22] #290 closed

[2016-10-06 14:23] thepowderriverfarrier commented on #290
Thanks.  Is there a link to the printable version of the documentation?

    On Thursday, October 6, 2016 10:22 AM, Rob Eisenberg <notifications@github.com> wrote:

 I believe we have this tracked, so closing as a duplicate.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-06 14:27] EisenbergEffect commented on #290
No we don't have a printable version. What I meant is that we are tracking that as a feature we want to implement in another Github issue already.

[2016-10-06 14:34] EisenbergEffect commented on #265
@scriswell How hard would it be to fix this?

[2016-10-06 14:37] EisenbergEffect commented on #264
@robrich We do have a cheat sheet document. Have you seen it? I'm guessing it's too long 😆 @AshleyGrant What do you think?

[2016-10-06 16:48] AshleyGrant commented on #264
I think I would love for @robrich to write this up since I have a feeling I'm going to be writing Router documentation here in the next day or two for optional route parameters.

Would you be willing, @robrich?

[2016-10-06 17:28] vangundy commented on #266
I was interested in new or updated content, both articles and sections.
Not really interested in typo fixes.  Just a quick way to find fresh
content at a glance.  Something I could read in feedly would be great!

BTW, Thank you for all your hard work on Aurelia.  And congrats your new
role at Microsoft.

Paul Van Gundy
945 Pepper St, Unit 114
El Segundo, CA 90245
513-313-8184 (mobile)

On Wed, Oct

[2016-10-07 01:49] EisenbergEffect commented on #263
Closing this as a duplicate since we've got this tracked as a bug in our language picker that occurs in that article.

[2016-10-07 01:49] #263 closed

[2016-10-07 01:51] EisenbergEffect commented on #261
We had a typo. I think we've got that fixed now. Sorry about that!

[2016-10-07 01:51] #261 closed

[2016-10-07 03:15] EisenbergEffect commented on #259
Fixed.

[2016-10-07 03:15] #259 closed

[2016-10-07 03:17] EisenbergEffect commented on #258
This is a great idea. Any interest in contributing the document?

[2016-10-07 03:19] EisenbergEffect commented on #257
@jdanyow Should we have a document that lists and explains all the special override values?

[2016-10-07 03:22] EisenbergEffect commented on #256
Closing this as a duplicate. Would love a PR to the docs to add this :)

[2016-10-07 03:22] #256 closed

[2016-10-07 10:50] jdanyow commented on #257
definitely

https://github.com/aurelia/documentation/issues/288

[2016-10-07 11:27] #257 closed

[2016-10-07 14:01] pholly commented on #258
I would, but unfortunately I don't know enough about build systems. I haven't used JSPM or Webpack before. And I haven't been keeping up with the experiences from the aurelia community. We're going to start our aurelia app very soon and I'm going to give the CLI a shot.

Is it safe to say:

- JSPM is not recommended anymore due to bugs in releases
- Webpack is a good choice for those who are alrea

[2016-10-07 14:05] EisenbergEffect commented on #258
That's a fair recommendation I would say.

[2016-10-07 19:01] doktordirk commented on #258
actually besides not being the fastest i have the fewest trouble with jspm

[2016-10-08 07:02] gamtiq commented on #273
The following typo has been fixed already.

[2016-10-10 15:24] RomkeVdMeulen opened #291 "Help with optimization"
I would love to see a one page summary, like the cheat sheet, of some of the basic and more advanced techniques to optimize Aurelia performance. Or a section, in the style of [Securing Your App](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/securing-your-app/1).

There's a lot to learn in the documentation already, but it's spread out, and doesn't cover all common scenarios. The

[2016-10-10 17:59] EisenbergEffect commented on #291
@jdanyow May be one of the best people to do this. I'm not sure what his work load is right now. I think it's a great idea though.

[2016-10-14 01:36] #273 closed

[2016-10-15 14:00] forestmarie opened #292 "Please document replace and trigger boolean options of redirectoroute"
**I'm submitting a feature request**

I can find no official documentation on these features.  I learned about them during Rob's workshop.

this.router.navigateToRoute('some router', { route parameters... }, { trigger: true/false, replace: true/false });

Please provide coverage on these with some example use cases on using trigger and replace.

Thanks!

[2016-10-17 04:02] EisenbergEffect commented on #292
@AshleyGrant I think you said something the other day about documenting the router. I think we need a new document in addition to our configuration document that covers some of the router APIs used during the course of an app. That would be a good place to document the `navigate` APIs and include details on the settings that @forestmarie mentions. You up for that?

[2016-10-17 14:27] AshleyGrant commented on #292
I can do it, but I'm definitely not currently a router expert. You can assign me though.

[2016-10-17 14:30] EisenbergEffect commented on #292
If we just get a start with a few items in it we can take PRs to expand it easily in the future.

[2016-10-18 04:50] lmj0011 opened #293 "show more thorough example of implementing and then using a feature"
**I'm submitting a feature request**
- **Language:**
  all

<hr>

http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/6

A gistrun of this being put into practical use would be helpful. I'm not sure how I would reference the `my-feature` in my app.

[code]

[2016-10-18 12:43] tomasbonco opened #294 "Add docs of life-cycles for elements, views, dependecies and how to add steps into their pipelines"
**I'm submitting a feature request**

**Expected/desired behavior:**

Aurelia provides many layers of abstraction and useful libraries which is good, and it would be even more amazing if it was documentated. I have sevaral questions that could (imho should) be covered in documentation.

1. **What is a lifecycle of custom element (or view)?**
In docs of binding there is written that templating engi

[2016-10-19 12:26] dkent600 opened #295 "Validation section lists binding behavior that no longer exist"
The "Validate Binding Behavior" section lists the following binding behaviors that appear to no longer exist:
[code]

[2016-10-19 12:39] dkent600 opened #296 "Validation doesn't document the Binding class used by registerBinding or unregisterBinding"
Validation doesn't adequately document registerBinding and unregisterBinding methods on ValidationController, nor the Binding class that they take as a parameter.   There is a very minimal explanation of these methods in the API docs, but there is nothing for the Binding class, understanding of which is key to understanding how these methods can be used.  `Binding`, if it is in the in the search b

[2016-10-19 12:43] dkent600 commented on #296
I did just find a Binding as an *interface* in the API section under "Binding".  But honestly, I would have no idea how to supply that to registerBinding and unregisterBinding.

Would be great to have a better explanation for how registerBinding and unregisterBinding are meant to be used.

[2016-10-19 13:41] EisenbergEffect commented on #295
@jdanyow Can we update the docs to match?

[2016-10-19 13:48] EisenbergEffect commented on #296
The Binding interfaces comes from the aurelia-binding library. You don't usually do anything with it directly unless you are creating binding behaviors:http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-binding-behaviors/7 It's a structure that is created during view compilation. @jdanyow may have some thoughts on the register APIs.

[2016-10-19 15:19] dinkzilla opened #297 "ESNext example showing ES2015 code"
**I'm submitting a bug report**

In the Contact Manager Tutorial documentation, under the section "Building Out the Contact List", when ESNext is selected for the the contact-list.js example, it appears to show the ES2015 code instead.

Below the code example, the documentation notes:

However, in the code example, when ESNext is selected, the code example uses a static inject method, not a decora

[2016-10-19 20:49] jdanyow commented on #295
@dkent600 - you may have an old build.  The binding behaviors do exist:
https://github.com/aurelia/validation/blob/master/src/validate-binding-behavior.ts

[2016-10-19 20:49] #295 closed

[2016-10-19 20:54] dkent600 commented on #295
I am using build 0.12.5, and when I try to use those bindings I get a javascript exception indicating they have not been registered.

[2016-10-19 20:59] dkent600 commented on #295
@jdanyow  OK, I was misusing jspm, I see the latest is 0.13.1

[2016-10-20 12:18] dkent600 opened #298 "Cheat sheet should list all DI resolvers and give an example of every one of them"
The DI cheat sheet says that the following are _all_ the resolvers that exist, but they aren't.

It would be very nice if we could a list of _all_ of the resolvers and also see an example of the use of _each_ of them.

(I am trying to figure out how to use the Factory resolver, but can find nothing in the docs to indicate how one can use it to pass data to the constructor.)

Here are the missing r

[2016-10-20 13:25] dkent600 opened #299 "`registration` Registration Decorator does not appear to be explained. There is no "DI customization article""
In DI Basics/Explicit Configuration:

I can't find a "DI customization article", thus `registration` doesn't not appear to be explained.

[2016-10-23 18:12] dkent600 opened #300 "can't find route-href custom attribute"
I can't find the router-href custom attribute in the documentation.

[2016-10-24 15:40] dkent600 opened #301 "router-href custom attribute is hard to find"
I haven't been able to find the `router-href` custom attribute in the documentation.

I think this should be in the Routing section, maybe a new subsection called "Binding".

In Addition, it could be in the "Bindings" and "Cheatsheet" sections.

[2016-10-24 15:41] dkent600 commented on #300
Dup

[2016-10-24 15:41] #300 closed

[2016-10-24 15:44] EisenbergEffect commented on #301
@AshleyGrant Can you add this to the router document you are working on?

[2016-10-24 16:17] AshleyGrant commented on #301
Please assign this to me.

[2016-10-24 16:22] EisenbergEffect commented on #301
@AshleyGrant Consider it assigned. Github won't let me actually assign you. It's annoying how that "Assignees" section works...

[2016-10-24 18:53] dkent600 opened #302 "Validation.CustomRules.addRule example code looks wrong"
In the section Validation.CustomRules.addRule when supplying parameters, does not make sense to me.

Why is the rule evaluation function like this:

`value >= config.min && value <= config.max`

instead of like this:

`value >= min && value <= max`

Here is what the docs have:

[code]

[2016-10-26 03:59] EisenbergEffect commented on #302
@jdanyow Can you take a look and PR a fix to the docs if there's an issue?

[2016-10-26 10:54] con-ssc opened #303 "More beginner tutorials"
**I'm submitting a feature request**
In my opinion there are not enough beginner to intermediate level tutorials that work. I worked through the todo app but that is not enough knowledge to for example use multiple modules to use in one app. Also there was no information on how to put that app in place online and what files are necessary for it.
I also tried the contact-manager but that one didn't

[2016-10-26 14:28] EisenbergEffect commented on #303
Please tell us what "did not work" about the contact manager. We haven't heard this.

[2016-10-27 11:36] tomasbonco commented on #294
Any progress here (maybe a plan to document it)? Should I address my questions somewhere else?

[2016-10-27 14:40] EisenbergEffect commented on #294
@AshleyGrant This might be a good one for you as well since you did some templating documentation already. Basically, a single document that explains the component lifecye and the navigation lifecycle, then shows how they relate.

[2016-11-01 19:41] dkent600 opened #304 "Custom binding behaviors section doesn't describe the arguments to bind and unbind"
The "Custom binding behaviors" section doesn't describe the arguments to the `bind` and `unbind` methods.

The arguments are `binding` and `scope`, but there is no description of what these arguments refer to.  In the TypeScript view there are no types given that would yield a clue.

The lack of this documentation increases the initial challenge in creating a custom binding behavior.

[2016-11-01 20:30] dkent600 opened #305 "updateSource, updateTarget and callSource are documented as properties instead of methods"
In the API docs page for `Binding`, `updateSource`, `updateTarget` and `callSource` are documented as properties instead of methods.  They are methods.

Would be nice to know what "Source" and "Target" refer to.  I would assume viewmodel and element, but would like to see it explicit in the docs.

(I might add (forgive me) that the purpose of  `callSource` is really not clear.)

[2016-11-02 15:31] EisenbergEffect commented on #304
@jdanyow Can you enhance the docs a bit with this information?

[2016-11-02 15:31] EisenbergEffect commented on #305
@jdanyow Can you take a look at the d.ts file for binding and see if all the type info is present?

[2016-11-02 21:53] itsfelipesan opened #306 "How to use Guillotine (crop image)"
I have already asked it in StackOverflow, but nobody has aswerd me yet and I really need help with it.

I'm trying to use the [Guillotine](https://github.com/matiasgagliano/guillotine), a plugin for crop images. I have a modal component which loads the image that I want to crop. In the modal class, I import the JQuery and I'm trying to import the Guillotine, but I'm receiving the message "the func

[2016-11-05 21:57] levalencia opened #307 "Integrating with sharepoint framework"
Hello

I am trying to integrate Aurelia with Sharepoint Framework which is TypeScript based, I am having difficulties and I really need your help, I just want to make a simple hello world, but due to the way SPF loads libraries then I am having issues with the simplest sample possible.

I am available to chat online if you can helpe me with this:
http://stackoverflow.com/questions/40441785/aurelia

[2016-11-07 17:01] #279 closed

[2016-11-08 22:46] aligneddev opened #308 "Feature request: Add cookbooks and recipes"
The Aurelia docs are great, but I struggled to find examples when I was building a quick demo app. I wasn't taking the time at the moment to dig real deep, so examples would have been nice. my code is here: https://github.com/logankd/JQueryToAurelia/tree/master/src/aurelia

I asked a few questions on StackOverflow, that were quickly answered by @AshleyGrant (thank you!).
http://stackoverflow.com/q

[2016-11-10 01:11] jdanyow commented on #302
closing- we received and merged a PR that fixed this.

[2016-11-10 01:11] #302 closed

[2016-11-10 01:13] jdanyow commented on #296
these methods aren't heavily documented because devs don't use them directly, the validate binding behavior uses them.

[2016-11-10 01:13] #296 closed

[2016-11-10 01:46] dkent600 commented on #296
Would be sufficient to just state that in the docs.

[2016-11-11 15:41] deviprsd21 opened #309 "Demos not working on certain Aurelia Hub routes"
The demos of this page [Converters](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-value-converters/3) is not working.

Console shows this error
[code]

[2016-11-11 16:51] AStoker commented on #309
Make sure you have `moment` installed with npm, and that you've defined it as a dependency in your vendor bundle.

[2016-11-11 16:51] deviprsd21 commented on #309
No this is a bug in aurelia.io, I'm reporting it

[2016-11-11 16:53] AStoker commented on #309
Oops! My bad, yup, that's broke all right 😄

[2016-11-11 16:54] deviprsd21 commented on #309
Moment is included in the file, why is there an error then?

[2016-11-11 16:59] AStoker commented on #309
Moment seems to be the Moment instance, not a function

[2016-11-11 17:22] deviprsd21 commented on #309
The [official docs]( http://momentjs.com/docs/#/use-it/typescript/) suggest this

[code]

[2016-11-11 17:28] AStoker commented on #309
Somebody is on it, they've got a backlog of things to do over the weekend, and this is one of them.

[2016-11-11 17:33] deviprsd21 commented on #309
Okay 👍

[2016-11-12 15:46] jdanyow commented on #305
Initially typedoc didn't work with the `updateSource?(value: any): void` style syntax so we had to use the `updateTarget?: (value: any) => void;` style. Seems to work now.

[2016-11-12 15:47] #305 closed

[2016-11-12 15:55] #304 closed

[2016-11-12 18:04] jdanyow commented on #309
https://github.com/aurelia/binding/issues/504

[2016-11-12 18:04] #309 closed

[2016-11-13 06:46] EisenbergEffect commented on #306
I don't know much about guillotine. This probably doesn't have anything to do with Aurelia but with the Guillotine library and how it should be used in module contexts. Try following up with the Guillotine plugin authors to see how they recommend using it in a module context.

[2016-11-13 06:46] #306 closed

[2016-11-13 07:01] EisenbergEffect commented on #307
I would recommend asking a question in our Gitter channel or on Stack Overflow.

[2016-11-13 07:01] #307 closed

[2016-11-19 17:28] EisenbergEffect commented on #303
Closing since there's no followup from OP on what didn't work after over 3 weeks.

[2016-11-19 17:28] #303 closed

[2016-12-02 09:17] spapaseit commented on #285
Nice job @LarsKemmann, thank you very much! One small addition though, I followed your instructions and still got a 404.

I solved it by pointing all `output` settings in `aurelia.json` to `wwwroot`, so from:

[code]

to:

[code]

[2016-12-04 19:38] dkent600 opened #310 "router-view swap-order attribute is not documented"
I am trying to get animations working, for between routes and for showing and hiding dialogs, and am having issues with both (using aurelia-animator-velocity v 1.0.1).

So I've been googling to find documentation about animation that might help me.  I have turned up documents alluding to using "swap-order" to improve how animations work, at least with respect to routing.

The suggested code would

[2016-12-06 21:16] AndrewFreemantle opened #311 "Aurelia CLI: Build Revisions doesn't point to which file to edit.."
The documentation for enabling Build Revisions in the Aurelia CLI jumps straight into example code, but unlike the Getting Started sections, omits the filename and location that the example code applies to.

(The answer is /aurelia_project/aurelia.json, line ~80)

[2016-12-07 07:02] EisenbergEffect commented on #310
Would you be interested in submitting a PR?

[2016-12-07 07:11] EisenbergEffect commented on #311
Would you be interested in submitting a PR to improve the docs? The document is in the cli docs folder.

[2016-12-07 08:19] AndrewFreemantle commented on #311
Thanks for the pointer Rob, I'll have a go  😃

[2016-12-07 14:40] dkent600 commented on #310
I would if I had any idea what it does.

[2016-12-12 23:39] michallepicki commented on #297
The same happens with some other examples on this page. I think it may be because they have `<source-code lang="ES Next">` instead of `ES 2016` in markdown source.

Upon inspecting the dropdown button for selecting language with aurelia-context chrome extension, I found out that clicking on `ES Next` sets `currentLanguage` to `ES 2016`.

I looked for source code of documentation hub but couldn't f

[2016-12-13 01:26] EisenbergEffect commented on #297
We'd love to make it open source, but it needs to be cleaned up quite a bit first. It's a slow, tedious process, but it's being worked on here and there.

[2016-12-15 10:40] larvanitis opened #312 "Documentations should be indexable by search engines"
See this example [Google search for `aurelia binding` on offical site](https://www.google.com/?gws_rd=ssl#q=aurelia+binding+site:aurelia.io). The _hub_ pages should be there but they are not.

[2016-12-15 10:47] larvanitis opened #313 "Search input field should be focus after clicking on the search icon"
**I'm submitting a bug report**

* **Browser:**
all

**Current behavior:**
On aurelia hub, when you click on the search icon (top right corner), the search sidebar opens but the focus is not on the input field.

**Expected/desired behavior:**
The input field should be focused the same way it is when you use the shortcut `Ctrl-Shift-P`.

* **What is the motivation / use case for changing the behavi

[2016-12-16 15:14] dkent600 commented on #310
I may do the research to figure out what it swap-order does

[2016-12-17 16:21] dkent600 opened #314 "Routing=>Router Configuration=>Layouts section seems to be lacking information"
The content in Routing=>Router Configuration=>Layouts section seems to be lacking some important and helpful information.  I find that the section is missing the following:

1. better description of what a "layout" is/does
2. code example of how to implement a layout view
3. more explicit description of the fact (I believe) that one can reference layouts in two places, on the `router-view` element

[2016-12-17 16:23] dkent600 commented on #310
If you want I might also be able to work #314 in the same PR.  Being attributes of the same custom element (`router-view`) and side-by-side in the same document, it would be efficient to make the changes together.  What do you think?

[2016-12-17 16:30] EisenbergEffect commented on #310
Sounds great!

On Dec 17, 2016 11:23 AM, "Doug Kent" <notifications@github.com> wrote:

[2016-12-23 03:52] EisenbergEffect commented on #312
Closing as a duplicate. As mentioned previously, we're tracking this and planning it pending our server-render implementation, which we are working on.

[2016-12-23 03:52] #312 closed

[2016-12-23 03:52] EisenbergEffect commented on #313
Closing as duplicate.

[2016-12-23 03:52] #313 closed

[2016-12-23 15:37] dkent600 opened #315 "No point in Routing=>Router Configuration section"
There is no point to the Routing=>Router Configuration section.  I recommend moving all the sections below it up one level to take its place.

[2016-12-23 15:58] dkent600 opened #316 "it is not documented that router-view `name` attribute is not bindable"
Judging from the source code, the router-view `name` attribute is not bindable.  Whereas the use of the `name` attribute is documented under "Routing=>Router Configuratiopn=>Rendering View Ports",  I have the feeling we should either mention there that it is not bindable, or make it bindable.

[2016-12-23 16:00] dkent600 commented on #316
I could do this with #314, if desired

[2016-12-23 17:48] EisenbergEffect commented on #316
It has to be statically defined, yes. We should probably make a note on that in the documentation.

[2016-12-25 06:12] EisenbergEffect commented on #315
We've got another article or two coming on routing, which will go inside that section.

[2016-12-25 06:12] #315 closed

[2016-12-26 16:58] dkent600 opened #317 "Router View Ports are sparsely documented"
I find that Routing=>Router Configuration=>Rendering View Ports could use a little more information, primarily the definition of a view port.  What is a view port?

If desired, I can add this as part of the work I'm doing on #310 (_et al_).  It's all in one place.

[2016-12-26 17:30] EisenbergEffect commented on #317
Fee free to add that. A "view port" just represents a place where a view model can be rendered. They map to router-views.

[2016-12-26 19:40] dkent600 commented on #317
Already wrote it up  :-)

[2016-12-26 21:04] dkent600 opened #318 "Routing=>Router Configuration=>moduleId is not described"
`RouteConfig.moduleId` is not described in Routing=>Router Configuration=>Basic Configuration

In the API, for the `RouteConfig` interface it says:

"The moduleId of the view model that should be activated for this route", but that still begs the question, what is a moduleId?  Then, what are the rules for resolving it to a view?  What if there _is_ no view model, only a view?

Since moduleId is a

[2017-01-05 19:55] dkent600 opened #319 "inlineView dependencies is appears not to be documented"
I am not able to find documentation for the `dependencies` argument of the `@inlineView` decorator.

I note that `@inlineView` is only ever mentioned in a meaningful way (according to the Search box) under Cheat Sheet=>Custom Elements.  (I'm not confortable with a cheat sheet being a primary source of documentation, as opposed to it just demonstrating usage of features that are documented elsewher

[2017-01-11 07:04] RichiCoder1 commented on #311
@AndrewFreemantle If you don't tackle this, I might here shortly :)

[2017-01-11 07:08] RichiCoder1 commented on #285
^ That. In addition, one thing that the starter kits (and I think CLI) does that isn't mentioned here is that the former recommends stopping VS TS compilation entirely `<TypeScriptCompileBlocked>True</TypeScriptCompileBlocked>`.

[2017-01-11 08:08] RichiCoder1 opened #320 "Clicking on a function in Aurelia Hub doesn't scroll to the appropriate function."
**Browser:**
Chrome 55

**Current behavior:**
Clicking on a function does nothing

**Expected/desired behavior:**
Clicking on a function will scroll the appropriate function

[2017-01-11 11:23] AndrewFreemantle commented on #311
By all means @RichiCoder1, I just hadn't gotten round to it yet  :o)

[2017-01-21 17:39] JoshuaVSherman opened #321 "A useful Gist on unit testing a function that overwrites an Aurelia component"
just sharing some knowledge, use it if you want.
thanks for this awesome framework.

https://gist.github.com/JoshuaVSherman/454704d7fc3fa2fa407263fd8c4aa1ee

[2017-01-23 17:40] marksummerfield opened #322 "IE11: Left-hand menu doesn't appear"
I'm on Windows 7, IE 11.0.9600.18537.

![image](https://cloud.githubusercontent.com/assets/6152717/22215336/e31b25f2-e192-11e6-8aca-9bb0a0269744.png)

I've attached a screenshot. It looks like IE has decided that the nav has height 0. The menu html is present in Developer Tools and there are no errors in the Console log. I've also checked the Emulation and I'm on 'Edge (Default)' with all the othe

[2017-01-23 18:34] dkent600 opened #323 "Validation satisfies() `config` argument is not documented"
Validation satisfies() `config` parameter is not documented.  Should be something to the effect:

[2017-01-23 18:46] dkent600 opened #324 "validation.satisfies docs should note how value parameter is set with ensureObject"
The Validation `satisfies` methods should document that when called after `ensureObject`, the `value` parameter of the ad hoc rule function will be set to value of the ensured object, just like the object parameter is.  _ie_, both of the rule function parameters will be set to the value of the ensured object.

[2017-01-25 19:17] dkent600 opened #325 "There is no API documentation for the Validation plugin under in the "Library""
There is no API documentation for the Validation plugin under in the "Library".  Completely empty.

[2017-01-30 04:11] #321 closed

[2017-01-30 04:11] EisenbergEffect commented on #321
Thanks!

[2017-01-30 04:14] EisenbergEffect commented on #323
Interested in submitting a PR for the doc update?

[2017-01-30 04:27] EisenbergEffect commented on #325
I believe we've got a fix for this merged. @jdanyow Is that correct? It just needs to be released, right?

[2017-01-30 05:09] EisenbergEffect commented on #297
Fixed the fundamental problem in our hub source. Going out with the next hub release.

[2017-01-30 05:09] #297 closed

[2017-01-30 14:41] dkent600 commented on #323
Will do

[2017-02-09 11:55] brylie opened #326 "Mention restarting aurelia when installing NPM packages"
**I'm submitting a feature request**

* **Library Version:**
Doc HUB

**Current behavior:**
When working through the **Contact Manager Tutorial**, under **Building the Application Shell** the user is guided to install two NPM packages (Bootstrap and jQuery). After installing those packages the screen remains blank and a console error is given regarding the Bootstrap import failure.

**Expected/des

[2017-02-13 08:30] miherlosev opened #327 "e2e tests with testcafe"
Hello,
I am developer from the [TestCafe](https://github.com/devexpress/testcafe) team.
TestCafe is an e2e testing framework for web apps.
We've prepared a plugin for TestCafe that provides special support for Aurelia:
Plugin repo - https://github.com/miherlosev/testcafe-aurelia-selectors
Article - https://hackernoon.com/aurelia-e2e-testing-with-testcafe-b4fb19bcb0c9#.8zx8mbbeg

Can you add inform

[2017-02-14 15:45] fragsalat commented on #68
Searched for it as well quite a time to recognize that setting instruction.config.moduleId isn't enough after second routing.

[2017-02-22 16:05] atsu85 commented on #322
I can confirm it.
Guick look at the stack trace is hinting, it could be related to animation:
[code]

[2017-02-22 19:26] atsu85 opened #328 "SEO friendly documentation (server-side rendering)"
**I'm submitting a feature request**

* **Browser:**
all

**Current behavior:**
Currently Aurelia [hub](http://aurelia.io/hub.html)(documentation) isn't SEO friendly (google doesn't index it). As a result search engines, such as Google, won't find anything from that site.

**Expected/desired behavior:**
Search engines should be able to index and return search results from Aurelia Hub

* **What is

[2017-02-24 07:05] EisenbergEffect commented on #328
We're already got this tracked and the plan is to use our new server render to address this when it's ready.

[2017-02-24 07:05] #328 closed

[2017-02-26 15:58] michallepicki commented on #297
any timeframe on when would that be?

[2017-03-01 20:53] davidtimovski opened #329 "Topic Index page repeating row"
On the Topic Index page (for the role of Developer) there is a repeating row.

[http://aurelia.io/hub.html#/doc/persona/developer](http://aurelia.io/hub.html#/doc/persona/developer)

![capture](https://cloud.githubusercontent.com/assets/25406486/23480726/412595c6-fec9-11e6-8b6b-3ebdb6dd8e75.JPG)

[2017-03-03 17:46] EisenbergEffect commented on #329
It's actually different items, they just have the same name. Not great as a content model, I agree.

[2017-03-03 20:38] davidtimovski commented on #329
@EisenbergEffect Oh I didn't notice that. That's really confusing. Maybe it should be like:

Setup with Webpack | Bundling with Webpack
----------------------- | -------------------------
Setup with JSPM | Bundling with JSPM

[2017-03-03 20:49] EisenbergEffect commented on #329
Totally agree. We need to get that fixed.

On Mar 3, 2017 12:38 PM, "David Timovski" <notifications@github.com> wrote:

[2017-03-13 11:22] m-andrew-albright opened #330 "Content-Projection pages error out - unable to navigate/read the docs"
Navigating to the content-projection portion of the docs (http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-content-projection) in all browsers is currently impossible.  I get this error:

![image](https://cloud.githubusercontent.com/assets/4950445/23852292/097a5180-07b5-11e7-85b2-daae6fe7e87e.png)

[2017-03-13 15:43] EisenbergEffect commented on #330
We're aware. There appears to be a bug in the content formatting itself. We're looking into it.

[2017-03-13 15:43] #330 closed

[2017-03-16 08:45] johot opened #331 "Unclear where to go after reading the getting started"
After reading through the "Quick start" document (http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/quick-start/7) it's not very clear for me where to continue reading.

In the last section it says "_There's so much more to learn and do! We hope you'll continue on to our "Contact Manager" tutorial to learn how to use the Aurelia CLI to get setup with a..._"

but there is no "Continu

[2017-03-16 09:21] johot opened #332 "Aurelia.io documentation never shows up when "googling""
This is a big issue, when googling I will never ever find links to the aurelia.io documentation just a bunch of old blogs with possibly the wrong information, this is not good for the Aurelia project. It makes it hard for beginners to find the correct information.

I am guessing this is a problem because the documentation hub is a big SPA and google can't index it properly? Does any plan to fix th

[2017-03-16 13:10] RomkeVdMeulen opened #333 "A11y: make the interface keyboard-navigable"
The Hub currently isn't keyboard navigable: the `nav-button`s aren't in the tabindex so navigation is impossible. This can be worked around somewhat by using search (<kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>P</kbd> but see also #224) but that prevents users from getting a topic listing once they've navigated away from the top level.

Besides this, many elements that are in the tabindex currently

[2017-03-16 15:36] EisenbergEffect commented on #331
Thanks for the feedback. We're building a new version of our developer hub where it will be easy to add features to improve this.

[2017-03-16 15:36] EisenbergEffect commented on #332
Thanks for the feedback. We're building a new version of our developer hub where it will be easy to add features to improve this.

[2017-03-16 15:36] #332 closed

[2017-03-30 05:05] thinkOfaNumber opened #334 "JavaScript error on various aurelia.io dochub pages"
**I'm submitting a bug report**

* **Library Version:**
Current instance published to http://aurelia.io/hub.html

**Please tell us about your environment:**
Windows 7
Chrome Version 56.0.2924.87 (64-bit)
Internet Explorer 11.0.9600.18617

**Current behavior:**
Sorry if this is not the right place for reporting this. I've tried multiple Windows 7 computers, with Chrome and IE. I've only noticed thi

[2017-03-30 05:38] EisenbergEffect commented on #334
Closing as a duplicate. We're aware there is something wrong with that article and are looking into it. Thanks!

[2017-03-30 05:38] #334 closed

[2017-03-30 05:39] thinkOfaNumber commented on #334
No problems, in general is this the right place to report website issues? Thanks.

[2017-03-30 05:43] EisenbergEffect commented on #334
Yes sir :)

[2017-03-31 20:08] gbreeze opened #335 "templating-content-projection area not working"
http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-content-projection

Tested on Opera, Edge

![image](https://cloud.githubusercontent.com/assets/1906169/24567528/719b8e2a-165e-11e7-9333-7662deaa2163.png)

[2017-03-31 20:16] EisenbergEffect commented on #335
Problem is already fixed on master. Closing this as duplicate. Will release the fix soon.

[2017-03-31 20:16] #335 closed

[2017-04-03 07:16] #262 closed

[2017-04-10 00:56] paddymoran opened #336 "Code examples unable to scroll horizontally on Chrome"
**I'm submitting a bug report**

* **Operating System:**
OSX 10.12.4

* **Browser:**
Chrome 57

**Current behavior:**
Code examples aren't able to scroll horizontally in Chrome (works in Firefox). For example: [Dependency Injection Docs](http://aurelia.io/hub#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics/2) in the example **CustomerEditScreen Multiple Injection**.

*

[2017-04-11 11:26] marekpetak opened #337 "I18N Documentation not visible"
http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia

- above link to i18n documentation is showing blank screen ...
- checked in lates browsers (Chrome, FF, Opera, Vivaldy, ...)

- not errors in console
- some templates are visible, but I'm too new to Aurelia to help ...

![capture](https://cloud.githubusercontent.com/assets/7045818/24906915/c0f4de9e-1eb1-11e7-8537-456f44

[2017-04-12 04:24] EisenbergEffect commented on #337
I think we may have a mal-formed document. I'll investigate. Thank you!

[2017-04-19 10:07] marekpetak commented on #337
This seems to be working now.Thank you!

[2017-04-19 10:07] #337 closed

[2017-04-25 20:45] dkent600 commented on #325
The validation documentation is still really flakey for me.

[2017-05-01 20:55] CristhianUNSa opened #338 "Aurelia Dialog Docs Typo"
**I'm submitting a typo**

* **Doc Version:**
latest

There is a typo under settings. 'childConainer' should be 'childContainer'. [Link](http://aurelia.io/hub.html#/doc/article/aurelia/dialog/latest/dialog-basics/5)

[2017-05-05 14:17] dkent600 opened #339 "EventAggregator is a plugin that is not documented in the "Plugins" section"
EventAggregator is a plugin that is not documented in the "Plugins" section.  Seems like it should be.

[2017-05-14 04:14] EisenbergEffect commented on #338
Would you be interested in contributing the fix? Here's the link to the source file: https://github.com/aurelia/dialog/blob/master/doc/article/en-US/dialog-basics.md

[2017-05-14 12:13] CristhianUNSa commented on #338
Hi Rob, yes I will submit a PR.

[2017-05-14 12:58] CristhianUNSa commented on #338
I was reading your "Git Commit Guidelines". Could the commit subject only be "fix typo" ?.
Message will be
doc(aurelia-dialog): fix typo

Is this ok? without body and footer too.
It is my first precise rule pull request :smile:

[2017-05-14 13:02] EisenbergEffect commented on #338
That is fine😀

On May 14, 2017 5:58 AM, "Cristhian" <notifications@github.com> wrote:

[2017-05-26 08:11] the--dud opened #340 "Documentation doesn't reflect CLI capabilities"
The vast majority of the documentation must have been written when the CLI either didn't exist, or wasn't very advanced.

There are very few mentions of "au install <package>" and "au generate element/component".

Most importantly perhaps is the consistent use of jspm/npm or other ways to install packages, when arguably "au install" should be the way of the future.

Se for instance http://aurelia.

[2017-05-31 03:35] EisenbergEffect commented on #340
The `au install` command is pretty recent. We definitely need to update our docs to show this and differentiate between different solutions.

[2017-06-02 09:12] shejin opened #341 "how can we cluster markers by using aurelia"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX |

[2017-06-02 09:15] shejin opened #342 "why click is not triggering inside the info window?"
infoWindow: {content: `
                <div id="content">
                <div class="infowindow_panel" id="infowindow4">
                <div class="track_icon" id="td10652&amp;1"
                 title="show track" click.delegate ="spotFleetTrack()"></div>
                 </div><div class="s_iconclose" title="close" click.delegate="closeInfoBox(4,'spotfleet','',true)">
                 </div><

[2017-06-05 03:23] EisenbergEffect commented on #341
Please use Gitter or SO for questions.

[2017-06-05 03:23] #341 closed

[2017-06-05 03:26] EisenbergEffect commented on #342
Please ask questions on Gitter or SO.

[2017-06-05 03:26] #342 closed

[2017-06-10 16:44] dkent600 opened #343 "give examples of how to use all of the DI resolvers"
Regarding this article:  http://aurelia.io/hub.html#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics/6

It could be great to have examples of all the uses of DI resolvers, showing, for each resolver type, 1) how to declare the dependency and 2) how to instantiate a model that has a dependency with the resolver type (using `container.get`, for example).

It is like pulli

[2017-06-10 16:47] dkent600 opened #344 "There is no "customization article""
Referring to this article:  http://aurelia.io/hub.html#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics/5

The article refers in several places to a "DI customization article" without a link.  Where is this article?  Should be a hot link....

[2017-06-11 02:05] dkent600 opened #345 "don't understand "without duplicating argument order"?"
In reference to this topic:  http://aurelia.io/hub.html#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics/6

Sorry if I'm dense, but I have no idea what this is saying:

"If using TypeScript, keep in mind that @autoinject won't allow you to use Resolvers. Instead, you may use argument decorators, without duplicating argument order, which you otherwise have to maintain wh

[2017-06-13 04:30] EisenbergEffect commented on #345
Please ask questions on Gitter or Stack Overflow.

[2017-06-13 04:30] #345 closed

[2017-06-13 11:23] dkent600 commented on #345
@EisenbergEffect  I guess I wasn't direct enough: I was asking that the docs be improved for clarity in that passage.

[2017-06-15 18:33] SolidStateLEDLighting opened #346 "Faulty Link in Au Dialog:Basic"
Link in Plugins / Dialog / Dialog:Basics may not lead to the correct page.

Examine link called "manual bootstrapping"

in point 2 of "installing the Plugin".

I believe that link should point to

http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/4

ALSO -- after following this link -- I believe there is a section missing.   You are documenting Manual B

[2017-06-15 20:06] SolidStateLEDLighting opened #347 "Sample code is is flawed? Untested?"
http://aurelia.io/hub.html#/doc/article/aurelia/dialog/latest/dialog-basics/5

Please examine the sample code on your page:

export class Prompt {
  static inject = [DialogController];

  constructor(controller){
    this.controller = controller;
    this.answer = null;

    controller.settings.lock = false;
    controller.settings.centerHorizontalOnly = true;
  }
}

1) You omitted the DialogContr

[2017-06-16 03:12] EisenbergEffect commented on #346
@PWKad Can you look at this?

[2017-06-16 03:13] EisenbergEffect commented on #347
@PWKad Can you look at this?

[2017-06-19 14:57] PWKad commented on #347
The code is fine and has been tested.  Please refer to the documentation if there are questions regarding return values and usage and such.

We can add an import statement no big deal.  TypeScript translations welcome.  Tracking at https://github.com/aurelia/dialog/issues/305 , please close this issue.

[2017-06-22 16:23] gheoan commented on #338
https://github.com/aurelia/dialog/pull/293 was merged and this can be closed.

[2017-06-22 16:28] #338 closed

[2017-06-26 03:36] Vheissu opened #348 "Extensively document Webpack support and usage in Aurelia"
Aurelia has had support for Webpack for some time now. Unfortunately, it isn't well documented for newcomers and experienced developers like. This issue is for tracking documentation pertaining to Aurelia and Webpack usage.

**Subjects documentation should cover:**

### Why Webpack?
We have JSPM and RequireJS that developers can already choose from, what reason would a developer have for choosing

[2017-06-26 06:22] zewa666 commented on #326
Wow that was definitely untouched for too long. @EisenbergEffect lets get the PR merged and the issue closed

[2017-06-27 19:26] dkent600 opened #349 "can't find information on creating observables, particularly for array changes"
I am looking for information on how to observe array changes (that is, changes to the membership of arrays).  The Aurelia docs contain almost nothing on this subject.

There is one section on `@observable`, buried under the Cheat Sheet under Custom Elements (??), but this doesn't say anything about watching for array changes.

One can find the `CollectionObserver` interface in the API, but only if

[2017-06-27 19:28] EisenbergEffect commented on #349
@jdanyow Can you expand some of our documentation on the binding engine to include using these APIs?

[2017-06-27 20:10] dkent600 commented on #349
What I figured out by running in the debugger, translated into a bit of Typescript:

Given your array:  `myArray: Array<T>` then:

`BindingEngine.collectionObserver(myArray).subscribe` expects you to pass it a function that might look like this:

`selectedItemsChanged(splices: Array<CollectionChangeSplice<T>>)`

Where each splice represents a single array change described by `CollectionChangeSplic

[2017-06-27 20:12] EisenbergEffect commented on #349
Looks correct to me. One other details is that the subscribe method returns a subscription object, with a dispose method you can call to clean things up when you are done. @jdanyow Can you confirm the correctness of all the above and provide any other relevant comentary?

[2017-06-28 10:27] Vheissu commented on #348
Work has begun on the webpack aspect here: https://github.com/aurelia/documentation/blob/master/docs-v2/drafts/introduction/getting-started/webpack.md - still refinements and additions to be made.

[2017-06-29 04:55] mkultra-z commented on #252
+1! I know its small but this is so frustrating.

- Operating System:
MacOS 10.12.5

- Browser:
Chrome 59